	 <div class="table-body" style="width:100%;height:350px;">
								 <table class="table" style="margin-bottom:0px;">
								  <colgroup>
								   <col></col>
								   <col></col>
								   <col></col>
								   <col></col>
								   <col></col>
								   <col></col>
								   <col></col>
								   <col></col>
								   <col></col>
								   </colgroup>
								  <tbody >
								    <tr>
									  <td>累计汇总</td>
									  <td>{$total_data["revenue"]["total"]["active_users"]}</td>
									  <td>{$total_data["new_users"]}</td>
									  <td>{$total_data["reten"]}%</td>									 
									  <td>---</td>
									  <td>---</td>
									  <td>${$total_data["spend"]["spend"]}</td>									 
									  <td>${$total_data["revenue"]["total"]["revenue"]}</td>
									  <td>{$total_data["roi"]}%</td>
									</tr>
								  </tbody>
								</table>
	</div>
							  
							  
						  