<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
	{include file="./static/html/header_common.html" /} 
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" media="all" href="/static/css/admin_main.css" />
</head>
<body>
    <div id="wrapper">
        {include file="./static/html/header.html" /}		
	   <!--/. NAV TOP  -->
         {include file="./static/html/side.html" /} 
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
		 
            <div id="page-inner"> 
			  	 	<div class="row">
                    <div class="col-md-6">
                        <div class="card">
                        <div class="card-action">
                           <i class="material-icons dp48">view_quilt</i> 基础信息 
						   <span style="float:right;font-weight:normal;">星期三</span>
                        </div>                       
                        <div class="card-content" style="height:110px;">
                            <div class="base_info">
							  <div>
							    <div class="name">李雄飞</div>
								<span>下午好!</span>
							  </div>
							  
							  <div class="login_time">上次登录时间:<em> 2016-12-09 12:29</em></div>
							</div>
							<div class="tigh">
							  <div><i class="material-icons dp48">location_on</i> 武汉 <i id="remark" class="fa fa-question-circle-o"></i></div>
							</div>
						</div>
                        </div>
                    </div>
                      <div class="col-md-6">
                        <div class="card">
                        <div class="card-action">
                           <i class="material-icons dp48">textsms</i> <span style="color:#ed4040;">今日动态</span> 
                        </div>
                       
                        <div class="card-content" style="height:110px;">
							<div class="news_list">
							   <div><a target="__blank" href="###">关于Facebook推广账号安全问题<span class="new">new</span></a><span class="create_time">2018-05-07</span></div>
							   <div><a href="###">广告变现数据的接入</a><span class="create_time">2018-04-20</span></div>
							   <div><a href="###">系统架构调整</a><span class="create_time">2018-04-20</span></div>
							</div>
                        </div>
                       </div>
                    </div>
                </div>
			  <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
					
						<div class="card horizontal cardIcon waves-effect waves-dark">
						<div class="card-image red">
						<i class="fa fa-eye fa-5x"></i>
						</div>
						<div class="card-stacked">
						<div class="card-content">
						<h3>16,150</h3> 
						</div>
						<div class="card-action">
						<strong> Daily Visits</strong>
						</div>
						</div>
						</div>
	 
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
					
						<div class="card horizontal cardIcon waves-effect waves-dark">
						<div class="card-image orange">
						<i class="fa fa-shopping-cart fa-5x"></i>
						</div>
						<div class="card-stacked">
						<div class="card-content">
						<h3>25,550</h3> 
						</div>
						<div class="card-action">
						<strong> Sales</strong>
						</div>
						</div>
						</div> 
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">					
						<div class="card horizontal cardIcon waves-effect waves-dark">
							<div class="card-image blue">
							<i class="fa fa-comments fa-5x"></i>
							</div>
							<div class="card-stacked">
							<div class="card-content">
							<h3>11,225</h3> 
							</div>
							<div class="card-action">
							<strong> Comments</strong>
							</div>
							</div>
						</div> 						 
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
					
					<div class="card horizontal cardIcon waves-effect waves-dark">
						<div class="card-image">
						<i class="fa fa-users fa-5x"></i>
						</div>
							<div class="card-stacked">
							<div class="card-content">
							<h3>72,525</h3> 
							</div>
							<div class="card-action">
							<strong> No. of Visits</strong>
							</div>
							</div>
						</div>						 
                    </div>
                </div>
				<div class="row">
                <div class="col-md-6">
                        <div class="card">
                        <div class="card-action">
                           <i class="material-icons dp48">textsms</i> <span style="color:#ed4040;">今日动态</span> 
                        </div>
                       
                        <div class="card-content" style="height:110px;">
							<div class="news_list">
							   <div><a target="__blank" href="###">关于Facebook推广账号安全问题<span class="new">new</span></a><span class="create_time">2018-05-07</span></div>
							   <div><a href="###">广告变现数据的接入</a><span class="create_time">2018-04-20</span></div>
							   <div><a href="###">系统架构调整</a><span class="create_time">2018-04-20</span></div>
							</div>
                        </div>
                       </div>
                    </div>
			  <div class="col-md-12">
	            <div class="card">
				    <div class="card-action">
	                 <b style="font-size:18px;"> <i class="material-icons dp48">label_outline</i>  广告收益</b> 
					 <div class="card-content">
					    
						 
						
					</div>
	                </div>
					
			  </div>
			</div>	
           </div>		
				<!--/.row-->
		<div class="row">
				<div class="col-md-5"> 
						<div class="card">
						<div class="card-image">
						 <div id="morris-line-chart"></div>
						</div> 
						<div class="card-action">
						  <b>Line Chart</b>
						</div>
						</div>
		  
					</div>		
					
						<div class="col-md-7"> 
					<div class="card">
					<div class="card-image">
					  <div id="morris-bar-chart"></div>
					</div> 
					<div class="card-action">
					  <b> Bar Chart Example</b>
					</div>
					</div>					
					</div>
					
				</div>
         <div class="row">
                    <div class="col-md-9 col-sm-12 col-xs-12">
						<div class="card">
					<div class="card-image">
					  <div id="morris-area-chart"></div>
					</div> 
					<div class="card-action">
					  <b>Area Chart</b>
					</div>
					</div>	 
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
						<div class="card">
					<div class="card-image">
					  <div id="morris-donut-chart"></div>
					</div> 
					<div class="card-action">
					  <b>Donut Chart Example</b>
					</div>
					</div>	 
                    </div>

                </div>
            
                <!-- /. ROW  -->				
         <!-- /. PAGE WRAPPER  -->
        </div>
		</div>
		</div>
		<div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large red">
      <i class="material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating red" style="transform: scaleY(1) scaleX(1) translateY(0px) translateX(0px); opacity: 1;"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1" style="transform: scaleY(1) scaleX(1) translateY(0px) translateX(0px); opacity: 1;"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green" style="transform: scaleY(1) scaleX(1) translateY(0px) translateX(0px); opacity: 1;"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue" style="transform: scaleY(1) scaleX(1) translateY(0px) translateX(0px); opacity: 1;"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>
     <!-- /. WRAPPER  -->
   {include file="./static/html/footer.html" /} 
   {include file="./static/html/footer_common.html" /}
  <!-- Morris Chart Js -->
    <script src="/static/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/static/assets/js/morris/morris.js"></script>   
</body>
 <script>
     hover_content("根据您的当前网络所处地方,若您频繁更换位置，我们将对您的账号进行封禁处理","#remark");
 </script>
</html>
