<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GAME BRAIN</title>
    {include file="./static/html/header_common.html" /} 
    <link href="/static/css/checkbox.css" rel="stylesheet" type="text/css">		
	 <link rel="stylesheet" type="text/css" media="all" href="/static/plugin/jquery-time/daterangepicker.css" />
	 <link href="/static/css/froala_editor.min.css" rel="stylesheet" type="text/css">
	 <link href="/static/css/dialog.css?t=<?php echo time(); ?>" rel="stylesheet" type="text/css" />
	 <link href="/static/css/admin_index.css?t=<?php echo time(); ?>" rel="stylesheet">
	 <style>
	 form .row{
  margin-left:30px;
  margin-bottom:0px;
  margin-right:30px;
  margin-top:5px;
}
.row .col.s6 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.row input{
  margin:0 0;
  padding:0 0;
}
	     th,td{text-align:center;vertical-align:middle}
	 .hw_reven thead tr {
    background-color: #fff;
}
.form-control{
   text-indent:10px;
}
.hw_reven table {
    border-collapse: collapse;
    font-size: 12px !important;
    color: #222 !important;
    text-align: left !important;
    line-height: 40px;
}
.hw_reven .table > thead > tr > th{
  border-bottom:1px solid #ebedf2 !important;
   border-left:1px solid #ebedf2 !important;
   padding: 10px !important;
   color: #222 !important;
}
.hw_reven .table>tbody > tr > td{
 padding:10px !important;
  border-bottom:1px solid #ebedf2 !important;
 font-size:14px;
}
.hw_reven col{
  width:100px !important;
}
table{
    min-width: 100%;
}
td,th{
    min-width: 150px;
}
.table-container{
    overflow:auto;
    display: block;
}

.c-dropdown__item:hover {
    background: #eaeefb;
    color: #606266 !important;
}

.country .c-dropdown__item {
    display: block;
    padding:1px 16px;
    color: #768093;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    transition: background .4s ease-in-out;
	border:none;
	height:38px;
}

.fa-tag,.fa-pencil-square-o{
  cursor:pointer;
}
.badge-gradient-info {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.05);
    color: #6b7386;
	border:none;
	border-radius:6px;
	line-height:25px;
	font-size:14px;
}
.badge-gradient-info:hover{
  background-color: rgba(0, 0, 0, 0.25);
  color:#333;
}

.mTips img{width:100%;height:100%;cursor:pointer;}
.mTips table td,.mTips table th{color:#fff;}
.froala-element{overflow-x:auto;}
.add_btn_column{
 
}
#revenue_content1 .hw-dialog .hw_game-dialog{background:#fff;}
#revenue_content1 .hw-dialog .dialog-footer button:not([disabled]){
 background-color:#4c70f2;
border-color:#4c70f2;
color: #fff;
}
	 </style>
</head>
<body>
    <div id="wrapper">
        {include file="./static/html/header.html" /}	
		<div class="hw_page_content">
		    
		    <div class="hw_menu_left">
         {include file="./static/html/side.html" /}  
			</div>
		    <div class="hw_content_right" style="width:100%;margin-left:16% !important;overflow:hidden" >
			    
			   <div class="newsbar-title" style="margin-left:2%;margin-top:10px;">花费趋势展示 
			   {if condition="$notice"}
			   <div id="notice" style="text-align:center;margin-right:2%;margin-top:10px;font-size:12px;color:red;cursor:pointer;"><i class="fa fa-bolt"></i> 渠道数据未关异常 </div>
			   {/if}
			   </div>
			   <div id="chats" style="height:300px;"></div>			  
			   <div class="index_main" style="background-color: #fff;padding: 10px;border-radius: 10px;">
			      <?php
				  $str = spendShow($appid);
				  $html='<div  style="color:red;padding-bottom:10px;font-size:10px;">';
				  $html.='【系统提示】以下渠道，'.$str.'可能存在数据没有更新完全,请您注意!</div>';
				  if($str!="")
				  {
				    echo $html;
				  }
				  ?>
				  <div style="padding:0px 20px;height:50px;line-height:40px;">
					<div class="hw_dropdown_menu" style="float:left;" id="data_start_date">
					    {$start} 到 {$end}
					</div>
					<a class="btn badge-gradient-info btn-sm" style="float:right;color:#333;" href="/admin_index/by_country_spend">分地区</a>
					  <a style="float:right;margin-right:20px;margin-top:3px;background-color:rgba(0, 0, 0, 0.05);border-color:rgba(0, 0, 0, 0.05);color:#333 !important" class="common_btn btn_primary" id="add_channel" href="javascript:;">添加</a>
					  <a href="/delivery/index" class="common_btn btn_primary" style="float:right;margin-right:20px;margin-top:3px;background-color:#007fff;border-color:#007fff;color:#fff !important"><i class="fa fa-gavel"></i> 投放助手</a>
					 <div class="hw_dropdown_menu country"  data="all" style="position:relative;float:left;margin-left:30px;">
					  <a href="javascript:;" class="dropdown_switch dropdown-toggle"  id="dropdownMenuAvatar1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
					    <label  style="font-weight:400;">全部国家</label><i class="fa fa-caret-down" style="margin-left:5px;"></i>
					  </a>
					  <div class="has-arrow dropdown-menu1 dropdown-menu-right"  style="position: absolute; top:38px; left: 0px; will-change: transform;height:200px;overflow-y: scroll;">
						  <div class="country_search">
								<input class="c_sear" placeholder="搜索"/>
						  </div>
						  <div>
							 {volist name="country" id="c"}
							  <a class="c-dropdown__item dropdown-item" data="{$key}" href="javascript:;">{$c}</a>
							 {/volist}						
						 </div>
					 </div>
					</div>
				  </div>
				  <div class="hw_reven table-container" id="tablehw" style="overflow:scroll;width:100%;height:450px">									
						<table class="table" id="spend_content" >
						  <thead >
						    <tr style="border-top:1px solid #e7e7eb;">
							 
							  <th colspan="4" ></th>
							  <th colspan="3" style="border-right:1px solid #ebedf2;border-left:1px solid #ebedf2">Facebook</th>
							  <th colspan="3" style="border-right:1px solid #ebedf2;border-left:1px solid #ebedf2">Adwords</th>
							  <th colspan="3" style="border-right:1px solid #ebedf2;border-left:1px solid #ebedf2">Applovin</th>
							  <th colspan="3" style="border-right:1px solid #ebedf2;border-left:1px solid #ebedf2">UnityAds</th>
							  <th colspan="3" style="border-right:1px solid #ebedf2;border-left:1px solid #ebedf2">Vungle</th>
							  <th colspan="3" style="border-right:1px solid #ebedf2;border-left:1px solid #ebedf2">Chartboost</th>
							  <th colspan="3" style="border-right:1px solid #ebedf2;border-left:1px solid #ebedf2">Adcolony</th>
							  <th colspan="3" style="border-right:1px solid #ebedf2;border-left:1px solid #ebedf2">Mintegral</th>
							  <th colspan="3" style="border-right:1px solid #ebedf2;border-left:1px solid #ebedf2">Tapjoy</th>
							  <th colspan="3" style="border-right:1px solid #ebedf2;border-left:1px solid #ebedf2">ironSource</th>
							  <th colspan="3" style="border-right:1px solid #ebedf2;border-left:1px solid #ebedf2">Toutiao-Hellowd</th>
							  <th colspan="3" style="border-right:1px solid #ebedf2;border-left:1px solid #ebedf2">TikTok</th>
							  <th colspan="3" style="border-right:1px solid #ebedf2;border-left:1px solid #ebedf2">Snapchat</th>
							  <th colspan="3" style="border-right:1px solid #ebedf2;border-left:1px solid #ebedf2">ASM</th>
							  <th colspan="3" style="border-right:1px solid #ebedf2;border-left:1px solid #ebedf2">Kuaishou</th>
							  {volist name="names" id="n"}
							    <th colspan="3" style="border-right:1px solid #ebedf2;border-left:1px solid #ebedf2">{$n.platform_name} <i style="font-size:10px" class="fa fa-tag edit_plat" data-id="{$n.id}" data-name="{$n.platform_name}"></i></th>
							  {/volist}
							  <th colspan="1" ></th>
							</tr>
							<tr>
							  <th style="background-color:#eef1f6;border-right:1px solid #ebedf2;border-left:1px solid #ebedf2">日期</th>
							  <th style="color:#F4A460">总安装</th>
							  <th style="color:#F4A460">总花费</th>
							  <th style="color:#F4A460">推广CPI</th>
							  
							  <th>安装</th>							
							  <th>花费</th>
							  <th>平均CPI</th>
							 
							  <th>安装</th>							
							  <th>花费</th>
							  <th>平均CPI</th>
							  
							  <th>安装</th>							
							  <th>花费</th>
							  <th>平均CPI</th>
							  
							  <th>安装</th>							
							  <th>花费</th>
							  <th>平均CPI</th>
							  
                             <th>安装</th>							
							 <th>花费</th>
							 <th>平均CPI</th>							  
							 
							 <th>安装</th>							
							 <th>花费</th>
							 <th>平均CPI</th>
							 
							 <th>安装</th>							
							 <th>花费</th>
							 <th>平均CPI</th>
							 
							 <th>安装</th>							
							 <th>花费</th>
							 <th>平均CPI</th>
							 
							 <th>安装</th>							
							 <th>花费</th>
							 <th>平均CPI</th>
							 
							 <th>安装</th>							
							 <th>花费</th>
							 <th>平均CPI</th>
							 
							 <th>安装</th>							
							 <th>花费</th>
							 <th>平均CPI</th>
							 
							 <th>安装</th>							
							 <th>花费</th>
							 <th>平均CPI</th>
							 
							 <th>安装</th>							
							 <th>花费</th>
							 <th>平均CPI</th>
							 <th>安装</th>							
							 <th>花费</th>
							 <th>平均CPI</th>
							 <th>安装</th>							
							 <th>花费</th>
							 <th>平均CPI</th>
							 {volist name="names" id="n"}
								 <th>安装</th>							
								 <th>花费</th>
								 <th>平均CPI</th>
							  {/volist}
							 <th>备注</th>
							</tr>
						  </thead>	
								  <tbody>
									 
									 {volist name="list" id="vv"}
									<tr>
									  <td style="background-color: #eef1f6;border-bottom:1px solid #ebedf2;"><div >({$vv.date|getweekday}) {$vv.date} {if condition="$vv['advertiser_showtips'] neq '0'"}<sup data-mtpis="{$vv['advertiser_showtips']}" ><i style="color:red;font-size:10px;" class="fa fa-commenting-o"></i></sup>  {/if} </div> </td>
									  <td>{$vv["result"]["total"]["installs"]}</td>
									  <td>${$vv["result"]["total"]["spend"]}</td>									 
									  <td style="border-right:1px solid #ebedf2">${$vv["result"]["total"]["cpi"]}</td>
									  
									  <td>{$vv["result"]["6"]["installs"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["installs"]<=0 ){ echo "0";}else{ echo round($vv["result"]["6"]["installs"]*100/$vv["result"]["total"]["installs"],2); } ?>%</span></td>
									  <td>${$vv["result"]["6"]["spend"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["spend"]<=0 ){ echo "0";}else{ echo round($vv["result"]["6"]["spend"]*100/$vv["result"]["total"]["spend"],2); } ?>%</span></td>									 
									  <td style="border-right:1px solid #ebedf2">${$vv["result"]["6"]["cpi"]}</td>
									  
									  <td>{$vv["result"]["5"]["installs"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["installs"]<=0 ){ echo "0";}else{ echo round($vv["result"]["5"]["installs"]*100/$vv["result"]["total"]["installs"],2); } ?>%</span></td>
									  <td>${$vv["result"]["5"]["spend"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["spend"]<=0 ){ echo "0";}else{ echo round($vv["result"]["5"]["spend"]*100/$vv["result"]["total"]["spend"],2); } ?>%</span></td>								 
									  <td style="border-right:1px solid #ebedf2">${$vv["result"]["5"]["cpi"]}</td>
									  
									 <td>{$vv["result"]["3"]["installs"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["installs"]<=0 ){ echo "0";}else{ echo round($vv["result"]["3"]["installs"]*100/$vv["result"]["total"]["installs"],2); } ?>%</span></td>
									 <td>${$vv["result"]["3"]["spend"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["spend"]<=0 ){ echo "0";}else{ echo round($vv["result"]["3"]["spend"]*100/$vv["result"]["total"]["spend"],2); } ?>%</span></td>							 
									  <td style="border-right:1px solid #ebedf2">${$vv["result"]["3"]["cpi"]}</td>
									  
									  <td>{$vv["result"]["2"]["installs"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["installs"]<=0 ){ echo "0";}else{ echo round($vv["result"]["2"]["installs"]*100/$vv["result"]["total"]["installs"],2); } ?>%</span></td>
									  <td>${$vv["result"]["2"]["spend"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["spend"]<=0 ){ echo "0";}else{ echo round($vv["result"]["2"]["spend"]*100/$vv["result"]["total"]["spend"],2); } ?>%</span></td>									 
									  <td style="border-right:1px solid #ebedf2">${$vv["result"]["2"]["cpi"]}</td>
									  
									  <td>{$vv["result"]["4"]["installs"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["installs"]<=0 ){ echo "0";}else{ echo round($vv["result"]["4"]["installs"]*100/$vv["result"]["total"]["installs"],2); } ?>%</span></td>
									  <td>${$vv["result"]["4"]["spend"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["spend"]<=0 ){ echo "0";}else{ echo round($vv["result"]["4"]["spend"]*100/$vv["result"]["total"]["spend"],2); } ?>%</span></td>									 
									  <td style="border-right:1px solid #ebedf2">${$vv["result"]["4"]["cpi"]}</td>
									  
									 <td>{$vv["result"]["8"]["installs"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["installs"]<=0 ){ echo "0";}else{ echo round($vv["result"]["8"]["installs"]*100/$vv["result"]["total"]["installs"],2); } ?>%</span></td>
									  <td>${$vv["result"]["8"]["spend"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["spend"]<=0 ){ echo "0";}else{ echo round($vv["result"]["8"]["spend"]*100/$vv["result"]["total"]["spend"],2); } ?>%</span></td>									 
									 <td style="border-right:1px solid #ebedf2">${$vv["result"]["8"]["cpi"]}</td>
									 
									 <td>{$vv["result"]["31"]["installs"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["installs"]<=0 ){ echo "0";}else{ echo round($vv["result"]["31"]["installs"]*100/$vv["result"]["total"]["installs"],2); } ?>%</span></td>
									  <td>${$vv["result"]["31"]["spend"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["spend"]<=0 ){ echo "0";}else{ echo round($vv["result"]["31"]["spend"]*100/$vv["result"]["total"]["spend"],2); } ?>%</span></td>									 
									 <td style="border-right:1px solid #ebedf2">${$vv["result"]["31"]["cpi"]}</td>
									 
									 <td>{$vv["result"]["1"]["installs"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["installs"]<=0 ){ echo "0";}else{ echo round($vv["result"]["1"]["installs"]*100/$vv["result"]["total"]["installs"],2); } ?>%</span></td>
									  <td>${$vv["result"]["1"]["spend"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["spend"]<=0 ){ echo "0";}else{ echo round($vv["result"]["1"]["spend"]*100/$vv["result"]["total"]["spend"],2); } ?>%</span></td>									 
									 <td style="border-right:1px solid #ebedf2">${$vv["result"]["1"]["cpi"]}</td>
									 
									 <td>{$vv["result"]["9"]["installs"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["installs"]<=0 ){ echo "0";}else{ echo round($vv["result"]["9"]["installs"]*100/$vv["result"]["total"]["installs"],2); } ?>%</span></td>
									  <td>${$vv["result"]["9"]["spend"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["spend"]<=0 ){ echo "0";}else{ echo round($vv["result"]["9"]["spend"]*100/$vv["result"]["total"]["spend"],2); } ?>%</span></td>									 
									 <td style="border-right:1px solid #ebedf2">${$vv["result"]["9"]["cpi"]}</td>
									 
									 <td>{$vv["result"]["7"]["installs"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["installs"]<=0 ){ echo "0";}else{ echo round($vv["result"]["7"]["installs"]*100/$vv["result"]["total"]["installs"],2); } ?>%</span></td>
									  <td>${$vv["result"]["7"]["spend"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["spend"]<=0 ){ echo "0";}else{ echo round($vv["result"]["7"]["spend"]*100/$vv["result"]["total"]["spend"],2); } ?>%</span></td>								 
									 <td style="border-right:1px solid #ebedf2">${$vv["result"]["7"]["cpi"]}</td>
									 
									 <td>{$vv["result"]["32"]["installs"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["installs"]<=0 ){ echo "0";}else{ echo round($vv["result"]["32"]["installs"]*100/$vv["result"]["total"]["installs"],2); } ?>%</span></td>
									  <td>${$vv["result"]["32"]["spend"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["spend"]<=0 ){ echo "0";}else{ echo round($vv["result"]["32"]["spend"]*100/$vv["result"]["total"]["spend"],2); } ?>%</span></td>									 
									 <td style="border-right:1px solid #ebedf2">${$vv["result"]["32"]["cpi"]}</td>
									 
									  <td>{$vv["result"]["36"]["installs"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["installs"]<=0 ){ echo "0";}else{ echo round($vv["result"]["36"]["installs"]*100/$vv["result"]["total"]["installs"],2); } ?>%</span></td>
									  <td>${$vv["result"]["36"]["spend"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["spend"]<=0 ){ echo "0";}else{ echo round($vv["result"]["36"]["spend"]*100/$vv["result"]["total"]["spend"],2); } ?>%</span></td>									 
									 <td style="border-right:1px solid #ebedf2">${$vv["result"]["36"]["cpi"]}</td>
									 
									 <td>{$vv["result"]["38"]["installs"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["installs"]<=0 ){ echo "0";}else{ echo round($vv["result"]["38"]["installs"]*100/$vv["result"]["total"]["installs"],2); } ?>%</span></td>
									  <td>${$vv["result"]["38"]["spend"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["spend"]<=0 ){ echo "0";}else{ echo round($vv["result"]["38"]["spend"]*100/$vv["result"]["total"]["spend"],2); } ?>%</span></td>									 
									 <td style="border-right:1px solid #ebedf2">${$vv["result"]["38"]["cpi"]}</td>
									 
									 
									  <td>{$vv["result"]["39"]["installs"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["installs"]<=0 ){ echo "0";}else{ echo round($vv["result"]["39"]["installs"]*100/$vv["result"]["total"]["installs"],2); } ?>%</span></td>
									  <td>${$vv["result"]["39"]["spend"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["spend"]<=0 ){ echo "0";}else{ echo round($vv["result"]["39"]["spend"]*100/$vv["result"]["total"]["spend"],2); } ?>%</span></td>									 
									 <td style="border-right:1px solid #ebedf2">${$vv["result"]["39"]["cpi"]}</td>
									 
									 
									 <td>{$vv["result"]["42"]["installs"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["installs"]<=0 ){ echo "0";}else{ echo round($vv["result"]["42"]["installs"]*100/$vv["result"]["total"]["installs"],2); } ?>%</span></td>
									  <td>${$vv["result"]["42"]["spend"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["spend"]<=0 ){ echo "0";}else{ echo round($vv["result"]["42"]["spend"]*100/$vv["result"]["total"]["spend"],2); } ?>%</span></td>									 
									 <td style="border-right:1px solid #ebedf2">${$vv["result"]["42"]["cpi"]}</td>
									 {volist name="names" id="n"}
							          <td>{$vv["result"][$n['platform_id']]["installs"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["installs"]<=0 ){ echo "0";}else{ echo round($vv["result"][$n['platform_id']]["installs"]*100/$vv["result"]["total"]["installs"],2); } ?>%</span> <i v="{$vv["result"][$n['platform_id']]["installs"]}" date="{$vv.date}" platform="{$n.platform_id}" index="installs" style="font-size:10px;color:#ccc;" class="fa fa-tag edit"></i></td>
									  <td>${$vv["result"][$n['platform_id']]["spend"]}<span style="color:#777">/<?php if( $vv["result"]["total"]["spend"]<=0 ){ echo "0";}else{ echo round($vv["result"][$n['platform_id']]["spend"]*100/$vv["result"]["total"]["spend"],2); } ?>%</span> <i v="{$vv["result"][$n['platform_id']]["spend"]}" date="{$vv.date}" platform="{$n.platform_id}" index="spend" style="font-size:10px;color:#ccc;" class="fa fa-tag edit"></i></td>
									  <td style="border-right:1px solid #ebedf2">${$vv["result"][$n['platform_id']]["cpi"]}</td>
							         {/volist}
                                     <td><i date="{$vv.date}" class="fa fa-pencil-square-o"></i></td>									 
									</tr>                             
									{/volist}
								  </tbody>
								  <tfoot>
								          <tr style="border-top:2px solid #49beb7;">
										  <td style="color:#f27056;font-weight:700;background-color:#eef1f6">总计</td>
										  <td>{$total_data["total"]["installs"]}</td>
										  <td>${$total_data["total"]["spend"]}</td>
										  <td style="border-right:1px solid #ebedf2;">${$total_data["total"]["cpi"]}</td>
										  
										  <td>{$total_data["6"]["installs"]}<span style="color:#777">/<?php if( $total_data["total"]["installs"]<=0 ){ echo "0";}else{ echo round($total_data["6"]["installs"]*100/$total_data["total"]["installs"],2); } ?>%</span></td>
										  <td>${$total_data["6"]["spend"]}<span style="color:#777">/<?php if( $total_data["total"]["spend"]<=0 ){ echo "0";}else{ echo round($total_data["6"]["spend"]*100/$total_data["total"]["spend"],2); } ?>%</span></td>									 
										  <td style="border-right:1px solid #ebedf2">${$total_data["6"]["cpi"]}</td>
										  
										  <td>{$total_data["5"]["installs"]}<span style="color:#777">/<?php if( $total_data["total"]["installs"]<=0 ){ echo "0";}else{ echo round($total_data["5"]["installs"]*100/$total_data["total"]["installs"],2); } ?>%</span></td>
										  <td>${$total_data["5"]["spend"]}<span style="color:#777">/<?php if( $total_data["total"]["spend"]<=0 ){ echo "0";}else{ echo round($total_data["5"]["spend"]*100/$total_data["total"]["spend"],2); } ?>%</span></td>										 						 
										  <td style="border-right:1px solid #ebedf2">${$total_data["5"]["cpi"]}</td>
										  
										  <td>{$total_data["3"]["installs"]}<span style="color:#777">/<?php if( $total_data["total"]["installs"]<=0 ){ echo "0";}else{ echo round($total_data["3"]["installs"]*100/$total_data["total"]["installs"],2); } ?>%</span></td>
										  <td>${$total_data["3"]["spend"]}<span style="color:#777">/<?php if( $total_data["total"]["spend"]<=0 ){ echo "0";}else{ echo round($total_data["3"]["spend"]*100/$total_data["total"]["spend"],2); } ?>%</span></td>								 
										  <td style="border-right:1px solid #ebedf2">${$total_data["3"]["cpi"]}</td>
										  
										   <td>{$total_data["2"]["installs"]}<span style="color:#777">/<?php if( $total_data["total"]["installs"]<=0 ){ echo "0";}else{ echo round($total_data["2"]["installs"]*100/$total_data["total"]["installs"],2); } ?>%</span></td>
										  <td>${$total_data["2"]["spend"]}<span style="color:#777">/<?php if( $total_data["total"]["spend"]<=0 ){ echo "0";}else{ echo round($total_data["2"]["spend"]*100/$total_data["total"]["spend"],2); } ?>%</span></td>								 
										  <td style="border-right:1px solid #ebedf2">${$total_data["2"]["cpi"]}</td>
										  
										   <td>{$total_data["4"]["installs"]}<span style="color:#777">/<?php if( $total_data["total"]["installs"]<=0 ){ echo "0";}else{ echo round($total_data["4"]["installs"]*100/$total_data["total"]["installs"],2); } ?>%</span></td>
										  <td>${$total_data["4"]["spend"]}<span style="color:#777">/<?php if( $total_data["total"]["spend"]<=0 ){ echo "0";}else{ echo round($total_data["4"]["spend"]*100/$total_data["total"]["spend"],2); } ?>%</span></td>								 
										  <td style="border-right:1px solid #ebedf2">${$total_data["4"]["cpi"]}</td>
										  
										  <td>{$total_data["8"]["installs"]}<span style="color:#777">/<?php if( $total_data["total"]["installs"]<=0 ){ echo "0";}else{ echo round($total_data["8"]["installs"]*100/$total_data["total"]["installs"],2); } ?>%</span></td>
										  <td>${$total_data["8"]["spend"]}<span style="color:#777">/<?php if( $total_data["total"]["spend"]<=0 ){ echo "0";}else{ echo round($total_data["8"]["spend"]*100/$total_data["total"]["spend"],2); } ?>%</span></td>									 
										 <td style="border-right:1px solid #ebedf2">${$total_data["8"]["cpi"]}</td>
										 
										  <td>{$total_data["31"]["installs"]}<span style="color:#777">/<?php if( $total_data["total"]["installs"]<=0 ){ echo "0";}else{ echo round($total_data["31"]["installs"]*100/$total_data["total"]["installs"],2); } ?>%</span></td>
										  <td>${$total_data["31"]["spend"]}<span style="color:#777">/<?php if( $total_data["total"]["spend"]<=0 ){ echo "0";}else{ echo round($total_data["31"]["spend"]*100/$total_data["total"]["spend"],2); } ?>%</span></td>									 
										 <td style="border-right:1px solid #ebedf2">${$total_data["31"]["cpi"]}</td>
										 
										  <td>{$total_data["1"]["installs"]}<span style="color:#777">/<?php if( $total_data["total"]["installs"]<=0 ){ echo "0";}else{ echo round($total_data["1"]["installs"]*100/$total_data["total"]["installs"],2); } ?>%</span></td>
										  <td>${$total_data["1"]["spend"]}<span style="color:#777">/<?php if( $total_data["total"]["spend"]<=0 ){ echo "0";}else{ echo round($total_data["1"]["spend"]*100/$total_data["total"]["spend"],2); } ?>%</span></td>								 
										 <td style="border-right:1px solid #ebedf2">${$total_data["1"]["cpi"]}</td>
										 
										 <td>{$total_data["9"]["installs"]}<span style="color:#777">/<?php if( $total_data["total"]["installs"]<=0 ){ echo "0";}else{ echo round($total_data["9"]["installs"]*100/$total_data["total"]["installs"],2); } ?>%</span></td>
										  <td>${$total_data["9"]["spend"]}<span style="color:#777">/<?php if( $total_data["total"]["spend"]<=0 ){ echo "0";}else{ echo round($total_data["9"]["spend"]*100/$total_data["total"]["spend"],2); } ?>%</span></td>								 
										 <td style="border-right:1px solid #ebedf2">${$total_data["9"]["cpi"]}</td>
										 
										 <td>{$total_data["7"]["installs"]}<span style="color:#777">/<?php if( $total_data["total"]["installs"]<=0 ){ echo "0";}else{ echo round($total_data["7"]["installs"]*100/$total_data["total"]["installs"],2); } ?>%</span></td>
										  <td>${$total_data["7"]["spend"]}<span style="color:#777">/<?php if( $total_data["total"]["spend"]<=0 ){ echo "0";}else{ echo round($total_data["7"]["spend"]*100/$total_data["total"]["spend"],2); } ?>%</span></td>								 
										 <td style="border-right:1px solid #ebedf2">${$total_data["7"]["cpi"]}</td>
										 
										  <td>{$total_data["32"]["installs"]}<span style="color:#777">/<?php if( $total_data["total"]["installs"]<=0 ){ echo "0";}else{ echo round($total_data["32"]["installs"]*100/$total_data["total"]["installs"],2); } ?>%</span></td>
										  <td>${$total_data["32"]["spend"]}<span style="color:#777">/<?php if( $total_data["total"]["spend"]<=0 ){ echo "0";}else{ echo round($total_data["32"]["spend"]*100/$total_data["total"]["spend"],2); } ?>%</span></td>								 
										 <td style="border-right:1px solid #ebedf2">${$total_data["32"]["cpi"]}</td>
										 
										 <td>{$total_data["36"]["installs"]}<span style="color:#777">/<?php if( $total_data["total"]["installs"]<=0 ){ echo "0";}else{ echo round($total_data["32"]["installs"]*100/$total_data["total"]["installs"],2); } ?>%</span></td>
										  <td>${$total_data["36"]["spend"]}<span style="color:#777">/<?php if( $total_data["total"]["spend"]<=0 ){ echo "0";}else{ echo round($total_data["32"]["spend"]*100/$total_data["total"]["spend"],2); } ?>%</span></td>								 
										 <td style="border-right:1px solid #ebedf2">${$total_data["36"]["cpi"]}</td>
										 
										 <td>{$total_data["38"]["installs"]}<span style="color:#777">/<?php if( $total_data["total"]["installs"]<=0 ){ echo "0";}else{ echo round($total_data["38"]["installs"]*100/$total_data["total"]["installs"],2); } ?>%</span></td>
										  <td>${$total_data["38"]["spend"]}<span style="color:#777">/<?php if( $total_data["total"]["spend"]<=0 ){ echo "0";}else{ echo round($total_data["38"]["spend"]*100/$total_data["total"]["spend"],2); } ?>%</span></td>								 
										 <td style="border-right:1px solid #ebedf2">${$total_data["38"]["cpi"]}</td>
										 
										 
										 <td>{$total_data["39"]["installs"]}<span style="color:#777">/<?php if( $total_data["total"]["installs"]<=0 ){ echo "0";}else{ echo round($total_data["39"]["installs"]*100/$total_data["total"]["installs"],2); } ?>%</span></td>
										  <td>${$total_data["39"]["spend"]}<span style="color:#777">/<?php if( $total_data["total"]["spend"]<=0 ){ echo "0";}else{ echo round($total_data["39"]["spend"]*100/$total_data["total"]["spend"],2); } ?>%</span></td>								 
										 <td style="border-right:1px solid #ebedf2">${$total_data["39"]["cpi"]}</td>
										 
										 
										 <td>{$total_data["42"]["installs"]}<span style="color:#777">/<?php if( $total_data["total"]["installs"]<=0 ){ echo "0";}else{ echo round($total_data["42"]["installs"]*100/$total_data["total"]["installs"],2); } ?>%</span></td>
										  <td>${$total_data["42"]["spend"]}<span style="color:#777">/<?php if( $total_data["total"]["spend"]<=0 ){ echo "0";}else{ echo round($total_data["42"]["spend"]*100/$total_data["total"]["spend"],2); } ?>%</span></td>								 
										 <td style="border-right:1px solid #ebedf2">${$total_data["42"]["cpi"]}</td>
								      {volist name="names" id="n"}
										 <td>{$total_data[$n['platform_id']]["installs"]}<span style="color:#777">/<?php if( $total_data["total"]["installs"]<=0 ){ echo "0";}else{ echo round($total_data[$n['platform_id']]["installs"]*100/$total_data["total"]["installs"],2); } ?>%</span></td>							
										 <td>${$total_data[$n['platform_id']]["spend"]}<span style="color:#777">/<?php if( $total_data["total"]["spend"]<=0 ){ echo "0";}else{ echo round($total_data[$n['platform_id']]["spend"]*100/$total_data["total"]["spend"],2); } ?>%</span></td>
										 <td>${$total_data[$n['platform_id']]["cpi"]}</td>
									  {/volist}
									   </tr>
								  </tfoot>
						</table>
					 </div>
			   </div>
			    <div class="bg_box" style="position:fixed;top:0;width:100%;left:0;right:0;bottom:0;height:100%;background:rgba(0,0,0,0.5);display:none;">
				<div style="width:100%;height:100%;display:table;table-layout:fixed;">
				 <a class="table-cell" style="display:table-cell;vertical-align:middle;text-align:center;">
				   <img src="##" class="max-img" style="max-height:300px;max-width:80%;" />
				 </a>
				</div>
			  </div>
			   <div id="show_content"></div>
			   <div>
			      <div class="hw_remark_inner">
						<div class="hw_remark_content">
								<span class="hw_i_input_box">
                                   <input class="hw_i_input" id="platform_name" placeholder="设置列名称" type="text">
								    <input  id="id" value="0" type="hidden">
								</span> 						 
					    </div>		
                      <div class="hw_remark_bar">
					      <a href="javascript:;" class="btn btn_primary" onclick="add_name();">确定</a>&nbsp;
						  <a href="javascript:;" class="btn btn_default remark_close">取消</a></div>
                 </div>
			   </div>
			</div>
			
			 <div id="revenue_content1">
		      <div class="hw-dialog">
			    <div class="hw_modal"></div>
				<div class="hw_game-dialog">
				   <div class="dialog-header">
				     <div class="title" style="color:#222;text-align:left;">以下产品渠道可能存在推广数据未暂停，请负责人去相关渠道后台进行查看，确认是否推广已暂停</div>
					
				   </div>
				   <div style="clear:both;"></div>
				   <div class="dialog-body">
				     <table class="table" style="margin-bottom:0px;">
					    <thead>								
							<tr>							 
							  <th style="color:#333;">产品名称</th>
                              <th style="color:#333;">渠道</th>
                              <th style="color:#333;">账户</th>	
                              <th style="color:#333;">花费</th>							  
							</tr>
						  </thead>
						  <tbody>														
							  {volist name="notice" id="nv"}
							  <tr>
								<td>{$nv.app_name}</td>
								<td>{$nv.channel}</td>
								<td>{$nv.account_id??'无'}</td>
								<td>{$nv.spend}</td>
							  </tr>	
                              {/volist}							  
						</tbody>
					 </table>
				   </div>
				   <div class="dialog-footer">
					  <button type="button" class="hw_game-btn hw_game-btn-default hw_close">关 闭</button>
				   </div>
				</div>
			   </div>
		  </div>
		</div>
		 {include file="./static/html/footer.html" /}
	</div>	
</body>
 {include file="./static/html/footer_common.html" /}
  <script type="text/javascript" src="/static/plugin/jquery-time/moment.min.js"></script>
   <script type="text/javascript" src="/static/plugin/jquery-time/daterangepicker_v1.js"></script>
 <script src="/static/js/froala_editor.min.js"></script>
  <!--[if lt IE 9]>
    <script src="/static/js/froala_editor_ie8.min.js"></script>
  <![endif]-->
    <script src="/static/plugin/froala/tables.min.js"></script>
  <script src="/static/plugin/froala/lists.min.js"></script>
  <script src="/static/plugin/froala/colors.min.js"></script>
  <script src="/static/plugin/froala/media_manager.min.js"></script>
  <script src="/static/plugin/froala/font_family.min.js"></script>
  <script src="/static/plugin/froala/font_size.min.js"></script>
  <script src="/static/plugin/froala/block_styles.min.js"></script>
  <script src="/static/plugin/froala/video.min.js"></script>  
	<script src="/static/js/mTips.js?t=1234"></script>
<script src="/static/js/echarts.min.js"></script>	
 <script>
 
     var start_date="{$start}";
	 var end_date = "{$end}";
    $(function(){
	  
	  $("#tablehw").scroll(function(){
	     var scrollTop = this.scrollTop;
              this.querySelector('thead').style.transform = 'translateY(' + scrollTop +'px)';
		var left=$("#tablehw").scrollLeft();
		var trs=$("#tablehw table tr");
		   trs.each(function(i){
		  
		    $(this).children().eq(0).css({"position":"relative","top":"0px","left":left});
		});
    });
    $(document).on("click",".mTips img",function(){
		    $(".bg_box").show();
			$(".max-img").attr('src',$(this).attr('src'));
		 })
		 $(".bg_box").click(function(){
		    $(".bg_box").hide();
		 })
	
	  $('#data_start_date').daterangepicker({ opens:'right',ranges: {'今天': [moment(),moment()],
'昨天': [moment().subtract(1, 'days'),moment().subtract(1, 'days')],
'近7天': [moment().subtract(7, 'days'), moment()],
'这个月': [moment().startOf('month'), moment()],
'上个月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]} },function(start, end, label) {
	 
		    start_date = start.format('YYYY-MM-DD');end_date=end.format('YYYY-MM-DD');
			$('#data_start_date').text(start_date+" 到 "+end_date);
			  loaddata();
		 });
		 $(".c-dropdown__item").click( function(){
		    var _p = $(this).parent().parent().parent();
			    _p.attr("data",$(this).attr("data") );
				_p.find("label").text($(this).text() );
		    loaddata();
			$(".dropdown-menu-right").hide()
		})
		
		$("#dropdownMenuAvatar1").click(function(){
	     $(".dropdown-menu-right").show()
		 return false;
	   })
	   
	   $("#notice").click(function(){
	    $("#revenue_content1").show()
	   })
	   
	   $(document).on("click",".hw_close",function(){
	      
		   $("#revenue_content1").hide()
		  })
	   
	   $("body").not(".dropdown-menu-right").click( function(e){
		  
		  if(e.target.className!="c_sear")
		  {
		    $(".dropdown-menu-right").hide()
		  }
		})
		
		$('.c_sear').bind('input propertychange', function()
		   {
			   var input_text = $(this).val();
               $(".dropdown-menu1 .c-dropdown__item").not("#aa").each(  function(i){
			        var text = $(this).text();
					var ismatch = text.match(new RegExp(input_text, 'i'));
					if( ismatch )
					  {
					     $(this).show();
					  }else{
					     $(this).hide();
					  }
			   })			   
		   });
		
		$(".edit_plat").click( function(){
		   
		   var id = $(this).attr("data-id");
		   var platform_name = $(this).attr("data-name");
			   $("#platform_name").val(platform_name);
			   $("#id").val(id);
			 $(".hw_remark_inner").show();  
		})
		
		$(document).on("click",".hw_close",function(){
	       $("#show_content .hw-dialog").hide();
		  })
		    $(document).on("click",".fa-pencil-square-o",function(){
		   
		       
			   var day_date = $(this).attr("date");
			   var html ='<div class="hw-dialog"><div class="hw_modal"></div><div class="hw_game-dialog" style="width:60%;top:50px;"><div class="dialog-header">';
				html+='<div class="title">请填写备注信息 '+day_date+'</div></div><div class="dialog-body">';
                html+='<input class="hw_game-input" id="title" style="text-indent: 0px;" placeholder="简短描述字数50字以内" type="text" value="">';
				html+='<input  id="date" type="hidden" value="'+day_date+'">';
				//html+='<textarea  class="hw_game-input" style="height:120px;margin-top:10px;" placeholder="详细备注" id="content"  rows="4"></textarea>';
				html+='<div id="edit" style="margin-top:10px;overflow-x:auto;"></div>';
				html+='</div><div class="dialog-footer">';
                html+='<button type="button" id="confirm" style="background-color: #f85959;color: #fff;border-color: #f85959;" class="hw_game-btn hw_game-btn-negative" onclick="add_remark(this)">确 认</button>';				
				html+='<button type="button"  class="hw_game-btn hw_game-btn-default hw_close">关 闭</button></div></div></div>';
	            $("#show_content").html(html); 
				$('#edit').editable({	
				  inlineMode: false,                 				  
				  width:'100%',
				  height: '200px' //高度		  
				  })
			    			  
		  });
		  
		   $(document).on("click",".edit",function(event){
			   var _$ = $(this);
			   var appid ="{$appid}";
			   var date = _$.attr("date");
			   var country = $(".country").attr("data");
			   var v = $(this).attr("v");
			   var f_index = $(this).attr("index");
			   var platform = $(this).attr("platform");
			   var html='<form  style="text-align:center;">';
				html+=' <div class="row"><p>'+date+'</p><div class="input-field col s6"><input  id="v"  value="'+v+'" type="text" class="form-control validate"></div></div>';			
				html+='<input class="waves-effect waves-light btn save" type="submit" style="background-color: #2ec376;color:#fff;margin-top:20px;width:140px;" value="确认"></input> </form>';
		   
				//自定页
				layer.open({
				  type: 1,
				  skin: 'layui-layer-rim', //加上边框
				  area: ['350px', '200px'], //宽高
				  content: html
				});
				$(".save").click( function(){
				   v = $("#v").val();
				   return add_data(appid,date,country,v,f_index,platform );		  
				   return false;
				})
	        event.stopPropagation();
	    });	
	      
	      $("#add_channel").click( function(){
		    $(".hw_remark_inner").show();
		  });
		  $(".remark_close").click( function(){
		    $(".hw_remark_inner").hide();
			$("#platform_name").val("");
			$("#id").val("0");
		  })
	   });
	var add_data = function(appid,date,country,v,field,platform)
	{
	         //layer.load();
			   $.post("/admin_control/add_data",{appid:appid,date:date,country:country,field:field,value:v,platform:platform},function(e){
					 //layer.closeAll();
                     //layer.msg('提交成功');
					 loaddata();
			   });
		return false;	   
	}	
	   var loaddata = function()
	{
	   var country = $(".country").attr("data");
	   var index = layer.load();
			   $.post("/admin_index/spend_json",{start:start_date,end:end_date,country:country},function(e){
					 layer.closeAll();
					  $("#spend_content tbody,#spend_content tfoot").remove();	
                    $("#spend_content").append(e); 				 
			   })
	}
   
	var add_name = function()
	{
	   var platform_name = $("#platform_name").val();
	   var id =  $("#id").val();
	   var appid = "{$appid}";
	   if( platform_name=="" )
	   {
	      layer.msg('请填写名称');return false;
	   }
	   $.post("/admin_control/add_name",{platform_name:platform_name,id:id,appid:appid},function(e){
										
				if( "ok"==e )
				  {
					layer.msg('设置成功');
					$(".hw_remark_inner").hide();
                    window.location.reload();
				  }else{
					layer.msg('由于异常，提交失败');return false;
				  }			
			})
	   
	}
    var add_remark = function(obj)
     {
	       var $parent  =$(obj).parents(".hw-dialog");
		   var title =$parent.find("#title").val();
		   var date = $parent.find("#date").val();
		   var content = $parent.find('#edit').find('div.froala-element').html();
		   
		   var appid ="{$appid}";
		   
		   if( title=="" || title.length>50 )
			{
				layer.msg('简短描述不符合规范!');return false;
			}			
			$(this).attr("disabled",true);
			var obj = $(this);
			var index = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
			$.post("/admin_remark/add_data",{title:title,content:content,appid:appid,date:date},function(e){
				layer.close(index);					
				$(obj).attr("disabled",false);
				if( "ok"==e )
				  {
					layer.msg('提交成功');
					$parent.hide();
					loaddata();
				  }else{
					layer.msg('由于异常，提交失败');return false;
				  }			
			})
			
	 }		
 </script>
<script>
var myChart = echarts.init(document.getElementById("chats"));
var option ={
    
    color: ['#73A0FA', '#73DEB3', '#FFB761'],
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'cross',
            crossStyle: {
                color: '#999'
            },
            lineStyle: {
                type: 'dashed'
            }
        }
    },
    grid: {
        left: '25',
        right: '25',
        bottom: '24',
        top: '75',
        containLabel: true
    },
	
	legend: {
        data: ['花费','安装'],
        orient: 'horizontal',
        icon: "rect",
        show: true,
        left: 20,
        top: 25,
    },
    xAxis: {
        type: 'category',
        data: [{$chats_data.date}],
        splitLine: {
            show: false
        },
        axisTick: {
            show: false
        },
        axisLine: {
            show: false
        },
    },
    yAxis: {
        type: 'value',
        axisLabel: {
            color: '#999',
            textStyle: {
                fontSize: 12
            },
        },
        splitLine: {
            show: true,
            lineStyle: {
                color: '#F3F4F4'
            }
        },
        axisTick: {
            show: false
        },
        axisLine: {
            show: false
        },
    },
    series: [{
        name: '花费',
        type: 'line',
        smooth: true,
        markPoint: {
			data: [
				{ type: 'max', name: '最大值' },
				{ type: 'min', name: '最小值' }
			],
		  },
        animationDuration: 2800,
		animationEasing: 'cubicInOut',		
        data: [{$chats_data.spend}],
    }, {
        name: '安装',
        type: 'line',
        smooth: true,
		markPoint: {
			data: [
				{ type: 'max', name: '最大值' },
				{ type: 'min', name: '最小值' }
			],
		  },
        animationDuration: 2800,
		animationEasing: 'cubicInOut',	        
        data: [{$chats_data.installs}],
    }]
};
myChart.setOption(option); 
</script>
</html>