<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GAME BRAIN</title>
    {include file="./static/html/header_common.html" /}  
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
   <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="/static/js/axios.min.js"></script>	 
	<style>
	  .cell{font-size:12px;}
	  .el-table td, .el-table th {
    padding:9px 0;}
	  .item {
		  margin-top: 10px;
		  margin-right: 40px;
		}
	  .el-badge__content.is-fixed{position:relative !important;}	
	</style>
</head>
<body>
    <div id="wrapper">
        {include file="./static/html/header.html" /}	
		<div class="hw_page_content" style="background:#fff;">
		    <div class="hw_menu_left">
             {include file="./static/html/side.html" /}  
			</div>
		    <div class="hw_content_right" style="padding:20px 5px;background: #fff;">
			            <div class="main" style="margin-bottom:10px;">					
							<h4 style="float:left;font-size:16px;">数据明细</h4>
							<div style="float:right;">
							  	
								  <el-select v-model="country" filterable placeholder="请选择国家">
									{volist name="country" id="item"}
									 <el-option key="{$key}" label="{$item}" value="{$key}"></el-option>
									{/volist}
								  </el-select>
							   		<el-radio-group v-model="groupField">
									  <el-radio-button label="groupdate">按日期</el-radio-button>
									  <el-radio-button label="groupcountry">按国家</el-radio-button>
									  
									</el-radio-group>
							 </div>

							<div  style="float:right;margin-right:10px;">
							   <el-date-picker
								  v-model="date"					 
								  type="daterange"
								  value-format="yyyy-MM-dd"
                                  style="width:300px;"								  
								  start-placeholder="开始"
								  end-placeholder="结束">
								</el-date-picker>	
							</div>
						</div>
						<div class="clear"></div>
						<div class="m-list hw_reven">
							 <el-table
								:data="tableData"
								v-loading="loading"
								height="550"
								@header-click="charts"
								style="width: 100%;">								
								<el-table-column prop="name" align="center" sortable label="名称">
								 <template slot-scope="scope">
									<el-tooltip v-if="scope.row.producter_showtips!=0" class="item" effect="dark" placement="top-start"><div slot="content" v-html="scope.row.producter_showtips"></div>
									  <el-badge is-dot class="item"><span >{{ scope.row.name }}</span></el-badge>					  
									</el-tooltip>
									<span v-else>{{scope.row.name}}</span>
								  </template>
								</el-table-column>
								<el-table-column prop="dau" sortable align="center" label="活跃"></el-table-column>
								<el-table-column prop="avg_adv_int" sortable  align="center" label="人均插屏"></el-table-column>
								<el-table-column prop="avg_adv_rew" sortable align="center" label="人均激励"></el-table-column>
								<el-table-column prop="avg_adv_sp" sortable align="center" label="人均开屏"></el-table-column>
								<el-table-column prop="avg_session_daylength" sortable align="center" label="日均时长(min)"></el-table-column>
								<el-table-column prop="avg_session_num" sortable align="center" label="人均会话"></el-table-column>
								<el-table-column prop="avg_session_length" sortable align="center" label="人均时长(s)"></el-table-column>
							</el-table>
						</div>
			  </div>
			</div>
		</div>
		 {include file="./static/html/footer.html" /}
	</div>
</body>
 {include file="./static/html/footer_common.html" /}
  <script>
    new Vue({
        el: '#wrapper',
        data: {
            loading: false,
			date:['{$start}','{$end}'],
			groupField: 'groupdate',
			country: 'all',
			tableData: []	
        },
		computed:{
		    param(){
			   return {
			      app_id:'{$app_id}',
				  date:this.date,
				  country:this.country,
				  groupField:this.groupField
			   }
			}
		},
		watch: {
		  param(val) {
			this.getlist(val)
		  }
		},
		created(){
		  this.getlist(this.param)
		},
        methods: {
           
			getlist(value){
			    this.loading = true
			   let _that = this
			   axios({
					method: 'post',
					url:'/survey/json_data',
					data:value
				}).then(res=>{			
				 _that.loading = false
				 this.tableData = res.data
			 })
			},
			charts(column, event){
			    if( column.property!="name" )
				{
				  window.location.href="/survey/chats?spm="+column.property+"&start="+this.date[0]+"&end="+this.date[1]+"&country="+this.country;
				}				
			}
        }
    })
  </script>
</html>