<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GAME BRAIN</title>
    {include file="./static/html/header_common.html" /}
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
   <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="/static/js/axios.min.js"></script>
	<style>
	  .cell{font-size:12px;color:#222;}
	  .el-table td, .el-table th {
    padding:9px 0;}
	  .item {
		  margin-top: 10px;
		  margin-right: 40px;
		}
      .grid-content{
	    background: #fff;
		padding: 15px !important;
		border-radius:10px;
		border: 0;
		color:#222;
		text-align:center;
	  }
       .card-category{
	   font-size: 13px;
	   color:#444;
	   margin-bottom: 0;}
	   .card-title{
	    color:#575962;
		font-size: 18px;
		font-weight: 400;
	   }
.filter-container .filter{
    font-size: 14px;
    color: #333;
    position: relative;
    line-height:40px;
}
.filter-container .filter .filter-label{
    font-weight: 600;
    color: #333;
    display: inline-block;
    width: 76px;
}
.filter-container .filter .filter-options{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 100px);
    min-width: 700px;
}
.filter .filter-options .filter-option.active{
    border-radius: 3px;
    color: #4c84ff;
	background: #ecf5ff;
	border: 1px solid #d9ecff;
	border-radius: 4px;
    font-size: 12px;
}
.filter .filter-options .filter-option{
    line-height: 22px;
    display: inline-block;
    padding: 2px 18px;
    margin-right: 24px;
    cursor: pointer;
    font-size: 12px;
}
.count {
    background:#4285f4;
    display: inline-block;
    padding:7px 1px;
    margin-right: 5px;
}
.search .el-select .el-input {
    width:100px;
  }
.el-table .warning-row {
    background: oldlace;
  }
.el-table .danger-row {
    background:#f56c6c;
  }
.el-table .success-row {
    background: #f0f9eb;
  }
  .el-table--scrollable-x .el-table__body-wrapper {
    z-index : 1;
}
	</style>
</head>
<body style="background:#f5f6fa;">
    <div id="wrapper" style="background-color:#f5f6fa;">
        {include file="./static/html/header.html" /}
		<div class="hw_page_content" style="background-color:#f5f6fa;">
		    <div class="hw_menu_left">
             {include file="./static/html/side.html" /}
			</div>
		    <div class="hw_content_right" style="padding:20px 5px;background: #f5f6fa;">
			            <h4 class="page-title" style="margin-bottom:20px;">
							<el-page-header @back="goBack" style="float:left;" content="LTV生命周期总览(MAX版)"></el-page-header></h4>
							<div class="clear" style="clear:both;"></div>
						<el-row :gutter="20" style="margin-top:20px;margin-left:20px;margin-right:20px;">
							 <el-col :span="6"><a  href="/admin_max/data"><div class="grid-content bg-purple" style="border-bottom: 1px solid;color:#4c84ff;"><i class="el-icon-s-help"></i> 默认 <br/><span style="font-size:10px;color:#222;">支持分地区，渠道</span></div></a></el-col>
							 <el-col :span="6"><a href="/admin_max/data?by=campaign" style="color:red;"><div class="grid-content bg-purple"><i class="el-icon-date"></i> 广告系列 <br/><span style="font-size:10px;color:#222;">仅支持 Facebook,Adwords</span></div></a></el-col>
							 <el-col :span="6"><a href="/admin_max/data?by=device"><div class="grid-content bg-purple"><i class="el-icon-rank"></i> 设备 <br/><span style="font-size:10px;color:#222;">仅支持Mintegral,Vungle</span></div></a></el-col>
							 <el-col :span="6"><a href="/admin_max/data?by=model"><div class="grid-content bg-purple"><i class="el-icon-s-data"></i> ltv模型分析 <br/><span style="font-size:10px;color:#222;">对比，多维度分析</span></div></a></el-col>
						</el-row>
						<el-row :gutter="20" style="margin-top:20px;margin-left:20px;margin-right:20px;">
							 <el-col :span="12"><a  href="/admin_max/data?by=adset"><div class="grid-content bg-purple"><i class="el-icon-s-help"></i> 视频子渠道 <br/><span style="font-size:10px;color:#222;">支持分地区，渠道,Mintegral,Vungle,Applovin</span></div></a></el-col>
							 <el-col :span="12"><a href="/admin_max/data?by=ad" style="color:red;"><div class="grid-content bg-purple"><i class="el-icon-magic-stick"></i> 素材 <br/><span style="font-size:10px;color:#222;">仅支持 Facebook</span></div></a></el-col>
						</el-row>
						<div class="main filter-container" style="margin:20px 30px;">
						    <div class="filter"><span  class="filter-label">地区</span>
								<div class="filter-options">
									<span @click="addAttr('country','all')" :class="filter.country.length<1?'filter-option active':'filter-option'">全部</span>
									<span @click="addAttr('country','US')" :class="isExistArray('country','US')?'filter-option active':'filter-option'">美国</span>
									<span @click="addAttr('country','TW')" :class="isExistArray('country','TW')?'filter-option active':'filter-option'">台湾</span>
									<span @click="addAttr('country','CN')" :class="isExistArray('country','CN')?'filter-option active':'filter-option'">中国</span>
									<span>
									 <el-select ref="country" v-model="filter.country" {if condition="$userid eq 19"}  @change="handleCountry" {/if} multiple filterable size="mini" placeholder="更多选择">
										{volist name="country" id="item"}
										  {if condition="$key!='all'"}
									       <el-option key="{$key}" label="{$item}" value="{$key}"></el-option>
										  {/if}
									    {/volist}
									  </el-select>
									</span>
									<span class="filter-option" style="color:#409eff" @click="openShow">{{ishow?'收起':'展开'}}<i :class="ishow?'el-icon-arrow-up el-icon--right':'el-icon-arrow-down el-icon--right'"></i></span>

								    <div style="float:right;cursor:pointer;" @click="dialogLtvVisible=true"><el-tag effect="dark">LTV预估</el-tag></div>
								</div>
							</div>
							<div v-show="ishow" class="filter"><span  class="filter-label">渠道</span>
								<div class="filter-options">
									<span @click="addAttr('media_source','all')" :class="filter.media_source.length<1?'filter-option active':'filter-option'">全部</span>
									<span @click="addAttr('media_source','Facebook Ads')" :class="isExistArray('media_source','Facebook Ads')?'filter-option active':'filter-option'">Facebook</span>
									<span @click="addAttr('media_source','googleadwords_int')" :class="isExistArray('media_source','googleadwords_int')?'filter-option active':'filter-option'">Adwords</span>
									<span>
									 <el-select v-model="filter.media_source" multiple filterable size="mini" placeholder="更多选择">
										{volist name="promate_media" id="item"}
										  {if condition="$key!='all'"}
									       <el-option key="{$key}" label="{$item.name}" value="{$item.value}"></el-option>
										  {/if}
									   {/volist}
									  </el-select>
									</span>
								</div>
							</div>
                            <div v-show="ishow" class="filter"><span  class="filter-label">LTV</span>
								<div class="filter-options">
									<span @click="FilterMaterial('day','0')" :class="filter.day==0?'filter-option active':'filter-option'">LTV0</span>
									<span @click="FilterMaterial('day','3')" :class="filter.day==3?'filter-option active':'filter-option'">LTV3</span>
									<span @click="FilterMaterial('day','7')" :class="filter.day==7?'filter-option active':'filter-option'">LTV7</span>
									<span @click="FilterMaterial('day','15')" :class="filter.day==15?'filter-option active':'filter-option'">LTV15</span>
									<span @click="FilterMaterial('day','30')" :class="filter.day==30?'filter-option active':'filter-option'">LTV30</span>
									<span @click="FilterMaterial('day','n')" :class="filter.day=='n'?'filter-option active':'filter-option'">LTVN</span>
									<span>
									 <el-select v-model="filter.day"  size="mini" placeholder="更多选择">
										<el-option label="LTV0" value="0"></el-option>
										<el-option label="LTV1" value="1"></el-option>
										<el-option label="LTV2" value="2"></el-option>
										<el-option label="LTV3" value="3"></el-option>
										<el-option label="LTV4" value="4"></el-option>
										<el-option label="LTV5" value="5"></el-option>
										<el-option label="LTV7" value="7"></el-option>
										<el-option label="LTV15" value="15"></el-option>
										<el-option label="LTV30" value="30"></el-option>
										<el-option label="LTV45" value="45"></el-option>
										<el-option label="LTV60" value="60"></el-option>
										<el-option label="LTV90" value="90"></el-option>
										<el-option label="LTVN" value="n"></el-option>
									  </el-select>
									</span>
								</div>
							</div>
                            <div v-show="ishow" class="filter"><span  class="filter-label">安装时间</span>
								<div class="filter-options">
									<span @click="FilterMaterial('day_num','1')" :class="filter.day_num==1?'filter-option active':'filter-option'">昨天</span>
									<span @click="FilterMaterial('day_num','3')" :class="filter.day_num==3?'filter-option active':'filter-option'">过去三天</span>
									<span @click="FilterMaterial('day_num','7')" :class="filter.day_num==7?'filter-option active':'filter-option'">过去七天</span>
									<span @click="FilterMaterial('day_num','15')" :class="filter.day_num==15?'filter-option active':'filter-option'">过去15天</span>
									<span @click="FilterMaterial('day_num','30')" :class="filter.day_num==30?'filter-option active':'filter-option'">过去30天</span>
									<span>
									 <el-date-picker
									  v-model="date"
                                      size="mini"
									  style="width:240px"
									  @change="updateDate"
									  type="daterange"
									  value-format="yyyy-MM-dd">
									</el-date-picker>
									</span>
								</div>
							</div>
                            <div v-show="ishow" class="filter"><span  class="filter-label">维度展示</span>
								<div class="filter-options">
									<span>
									<el-select size="mini" @change="handleChange" style="width:100px;" v-model="filter.dimension_one" placeholder="请选择">
										<el-option v-for="item in dimensionList" :key="item.value" :label="item.label" :value="item.value"></el-option>
									</el-select>									 
									</span>
                                    <span>
									<el-select size="mini" @change="handleChange" style="width:100px;" v-model="filter.dimension_two" placeholder="请选择">
										<el-option v-for="item in dimensionList" :key="item.value" :label="item.label" :value="item.value"></el-option>
									</el-select>									 
									</span>
                                    <span>
									<el-select size="mini" @change="handleChange" style="width:100px;" v-model="filter.dimension_three" placeholder="请选择">
										<el-option v-for="item in dimensionList" :key="item.value" :label="item.label" :value="item.value"></el-option>
									</el-select>									 
									</span>
								</div>
							</div>
							<div v-show="ishow" class="filter"><span  class="filter-label">过滤ROI</span>
							    <div class="filter-options">
									<span class="search">
										<el-input placeholder="请输入值" v-model="roi" size="mini" style="width:250px">
											<el-select v-model="condition" slot="prepend" placeholder="请选择">
											  <el-option label="大于等于" value=">="></el-option>
											  <el-option label="小于" value="<"></el-option>
											</el-select>
										  </el-input>
								  </span>
								</div>
							</div>
                            <div v-show="ishow" style="margin-top:20px;">是否对搜索条件进行保存?   <el-button size="mini" @click="saveFilter" type="primary">立即保存</el-button> <el-button @click="clear" size="mini">清除</el-button></div>
						</div>
						<div class="clear">
						  <h4  style="font-size:15px;font-weight:700;color: #333;line-height:20px;margin-bottom:10px;margin-left:30px;"><i class="count"></i> 当前为过去<strong style="color:red"> {{filter.day_num}} </strong>天 ltv<strong style="color:red">{{filter.day}}</strong> 的用户价值展示  <a style="float:right;cursor:pointer;text-decoration:underline;margin-right:20px;font-size:12px;" @click="dialogFormVisible=true" href="javascript:;"> 设置</a>
						  <a v-show="filter.day=='n'" style="float:right;margin-right:10px;font-size:12px;color:#333"><i style="color:#ff4777;" class="el-icon-s-opportunity"></i> 触发天数:{{end_day}},当前留存:{{reten}}%,参考cpi:{{cpi}}</a>
						  </h4>
						</div>
						<div class="m-list hw_reven" style="padding:20px;">
							 <el-table
								:data="tableData"
								border
								:row-class-name="tableRowClassName"
								:cell-style="tableCellStyle"
								:summary-method="getSummaries"
								show-summary
								row-key="id"
								lazy
								:load="load"
								:tree-props="{children: 'children', hasChildren: 'hasChildren'}"
								v-loading="loading"
								max-height="500"
								style="width:100%;">
								 <el-table-column width="150" fixed prop="name" align="left" label="名称"></el-table-column>
								 <el-table-column prop="tablist.spend" fixed sortable width="100px" align="center" label="推广花费"></el-table-column>
								 <el-table-column prop="tablist.installs" fixed sortable width="100px" align="center" label="推广新增"></el-table-column>
								 <el-table-column prop="tablist.cpi" fixed sortable width="100px" align="center" label="推广成本"></el-table-column>
								 <el-table-column prop="tablist.new_total_revenue" width="100px" sortable align="center" label="总收益"></el-table-column>
								 <el-table-column prop="tablist.new_ad_revenue" width="100px" sortable align="center" label="广告收益"></el-table-column>
								 <el-table-column prop="tablist.purchase" width="100px" sortable align="center" label="内购收益"></el-table-column>
								 <el-table-column  sortable prop="tablist.new_avg_revenue" width="100px" align="center" :label="'总 '+label_day"></el-table-column>
								 <el-table-column  sortable prop="tablist.new_avg_ad_revenue" width="120px" align="center" :label="'广告 '+label_day"></el-table-column>
								 <el-table-column  sortable prop="tablist.avg_purchase" width="120px" align="center" :label="'内购 '+label_day"></el-table-column>
								 <el-table-column prop="tablist.new_total_roi" fixed="right"  width="100px" sortable align="center"  :label="'ROI'+filter.day+'(%)'"></el-table-column>

								 <el-table-column prop="tablist.new_avgReward" fixed="right" sortable width="100px" align="center" label="人均激励">
									 <template slot-scope="scope">
										 <span>{{scope.row.tablist.new_avgReward}}</span>
									 </template>
								 </el-table-column>
								 <el-table-column prop="tablist.new_avgInter" sortable width="100px" align="center" label="人均插屏">
									 <template slot-scope="scope">
										 <span>{{scope.row.tablist.new_avgInter}}</span>
									 </template>
								 </el-table-column>								 
								 <el-table-column prop="tablist.cus_total_roi2"  width="120px" sortable align="center"  :label="'ROI'+cusday2+'(%)'"></el-table-column>
								 <el-table-column prop="tablist.cus_total_roi1"  width="120px" sortable align="center"  :label="'ROI'+cusday1+'(%)'"></el-table-column>
							 </el-table>
						</div>
					<el-dialog title="预估ROI百分比设置" width="40%" :visible.sync="dialogFormVisible">
					  <el-form>
						<el-form-item label="ROI" label-width="100px">
						  <el-input v-model="cpi_roi" autocomplete="off"></el-input>
						</el-form-item>
					  </el-form>
					  <div slot="footer" class="dialog-footer">
						<el-button @click="dialogFormVisible = false">取 消</el-button>
						<el-button type="primary" @click="resetCpi">确 定</el-button>
					  </div>
					</el-dialog>

					<el-dialog title="预估LTVN模型" width="70%" :visible.sync="dialogLtvVisible">
					  <el-form :inline="true" :model="formInline">
						<el-form-item label="安装时间" label-width="100px">
						  <el-date-picker
									  v-model="formInline.date"
                                      size="mini"
									  style="width:200px;"
									  type="daterange"
									  value-format="yyyy-MM-dd">
						  </el-date-picker>
						</el-form-item>
						<el-form-item label="渠道">
						  <el-select v-model="formInline.media_source" filterable size="mini" >
							{volist name="promate_media" id="item"}
							   <el-option key="{$key}" label="{$item.name}" value="{$item.value}"></el-option>
						   {/volist}
						  </el-select>
						</el-form-item>
						<el-form-item label="地区">
						<el-select v-model="formInline.country" style="width:100px;"  size="mini">
							{volist name="country" id="item"}
							   <el-option key="{$key}" label="{$item}" value="{$key}"></el-option>
							{/volist}
						  </el-select>
						</el-form-item>
						<el-form-item>
						  <el-button type="primary" size="mini" @click="predict">预测</el-button>
						</el-form-item>
						 <el-form :inline="true" >
						   <el-form-item label="当前花费" label-width="100px">
						       {{spend.spend}}
						   </el-form-item>
						   <el-form-item label="当前新增" label-width="100px">
						       {{spend.installs}}
						   </el-form-item>
						   <el-form-item label="当前CPI" label-width="100px">
						       {{spend.cpi}}
						   </el-form-item>
						  </el-form>
					  </el-form>
					    <el-table
						  :data="retenData"
						  :row-class-name="tableRowLTVClassName"
						  v-loading="retenloading"
						  max-height="400"
						  style="width: 100%">
						  <el-table-column prop="num" label="周期"></el-table-column>
						  <el-table-column prop="reten" label="留存"></el-table-column>
						  <el-table-column prop="avg_revenue" label="人均价值"></el-table-column>
						  <el-table-column prop="roi" label="ROI"></el-table-column>
						  <el-table-column prop="estimate_cpi_110" label="预估CPI(110%)"></el-table-column>
						  <el-table-column prop="estimate_cpi_115" label="预估CPI(115%)"></el-table-column>
						  <el-table-column prop="estimate_cpi_120" label="预估CPI(120%)"></el-table-column>
						</el-table>

					</el-dialog>
			  </div>
			</div>
		</div>
		 {include file="./static/html/footer.html" /}
	</div>
</body>
 {include file="./static/html/footer_common.html" /}
  <script>
    var isRemark = false;
	let t = new Vue({
        el: '#wrapper',
        data: {
			loading: false,
			retenloading:false,
            ishow:false,
			dialogFormVisible:false,
			dialogLtvVisible:false,
            end_day:'',
			cpi_roi:'115',
			cpi:0,
            reten:"",
            spend:{},
			date:[],
			filter:{
			  day:"0",
			  country:[],
			  day_num:"7",
			  media_source:[],
			  device:[],
			  dimension_one:'date',
			  dimension_two:'country',
			  dimension_three:'channel'
			},
			formInline:{
			  date:['{$start}','{$end}'],
			  media_source:'all',
			  country:'all',
			},
			condition:'>=',
			roi:'',
			totalData:[],
			retenData:[],
			dimensionList:[
			  {label:'日期',value:'date'},
			  {label:'国家',value:'country'},
			  {label:'渠道',value:'channel'}
			],
			tableData: []
        },
		computed:{
		    param(){
			   let params = this.filter
			   params.app_id = '{$app_id}'
			   return params
			},
			label_day(){
			  return 'LTV'+this.filter.day
			},
			cusday1(){
			    switch(parseInt(this.filter.day))
				{
				  case 0:
				    return 3;
					break;
				  case 3:
				    return 7;
					break;
				  case 7:
				    return 10;
					break;
				}
				return this.filter.day
			},
			cusday2(){
			    switch(parseInt(this.filter.day))
				{
				  case 0:
				    return 7;
					break;
				  case 3:
				    return 10;
					break;
				  case 7:
				    return 14;
					break;
				}
				return this.filter.day
			}
		},
		watch: {
		  param:{
		    handler:function(val,oldval){
			  if( val.day_num!='custom' || val.date.length>0 )
			  {
			    this.getlist()
			    this.get_total_list()
			  }
			  
			},
			deep:true//对象内部的属性监听，也叫深度监听
		  }
		},
		created(){
		  let key ='filter_json'+'{$app_id}'
		  let save_obj = localStorage.getItem(key)
		  if(save_obj)
		  {
		    let params = JSON.parse(save_obj)
			 this.filter = params.filter
		  }
		  this.getlist()
		  this.get_total_list()
		},
		mounted(){
		 	this.$nextTick(() => {
			 // this.myEcharts()
			});
		},
        methods: {
		   goBack() {
		     window.location.href='/admin_ltv/data';
		   },
		   updateDate(){
		     this.filter.day_num = 'custom'
			 this.getlist()
			 this.get_total_list()
		   },
		   handleChange(val){
		    let index = this.dimensionList.findIndex((n) => n.value==val)
			if( index>-1 )
			{
			  //this.dimensionList.splice(index,1);
			}
		   },
		   handleCountry(val){
			let ele = val
			if( val.length>1 )
			{
			   ele = [val.pop()]
			}
			this.filter.country = ele
			this.$refs.country.blur()
		   },
		   openShow(){
		    this.ishow = !this.ishow
		   },
		   clear(){
		     let key ='filter_json'+'{$app_id}'
			 localStorage.removeItem(key)
			 this.filter={
			  day:"n",
			  country:[],
			  day_num:'3',
			  media_source:[],
			  device:[],
			  date:[],
			  dimension_one:'date',
			  dimension_two:'country',
			  dimension_three:'channel'
			}
			this.condition = '>='
			this.roi = ''
		   },
		   saveFilter(){
			 let key ='filter_json'+'{$app_id}'
			 let params ={}
			 params.filter = this.filter
			 localStorage.setItem(key,JSON.stringify(params));
			 this.$message('保存成功！');
		   },
		   resetCpi(){
		    this.cpi = (100*this.totalData[0].avg_revenue/this.cpi_roi).toFixed(3);
			this.dialogFormVisible = false
		   },
		    tableRowClassName({row, rowIndex}) {
				let roi  = this.roi
				if(roi){
				  if( this.condition==">=" )
				  {
				    if( row.tablist.total_roi>=roi )
					{
					  return 'warning-row';
					}
				  }else{
				     if( row.tablist.total_roi<roi )
					{
					  return 'warning-row';
					}
				  }
				}
				return '';
			},
			tableRowLTVClassName({row, rowIndex}){
			  if( row.reten<1 )
				{
					return 'warning-row';
				}
			},
			tableCellStyle({row, column, rowIndex, columnIndex}){
		   	// if ([5,7,10,12,14,16,18].includes(columnIndex)){
		   	// 	return "background-color: #a5ecd7;color: #eeecda"
				// }
			},
			get_total_list(){
			   this.param.date =this.date
			   axios({
					method: 'post',
					url:'/admin_max/get_ltv_total_data',
					data:this.param
				}).then(res=>{
				 this.totalData = res.data
				 this.end_day = this.totalData[0].end_day
				 this.cpi = (100*this.totalData[0].avg_revenue/this.cpi_roi).toFixed(3);
				 this.reten = this.totalData[0].reten
			 })
			},
		   getSummaries(param) {
				const sums = []
				sums[0]='总计'
				if( this.totalData.length>0 )
				{
				  sums[1] = this.totalData[0].spend
				  sums[2] = this.totalData[0].installs
				  sums[3] = this.totalData[0].cpi
					sums[4] = this.totalData[0].new_total_revenue
					sums[5] = this.totalData[0].new_ad_revenue
				  sums[6] = this.totalData[0].purchase
					sums[7] = this.totalData[0].new_avg_revenue
					sums[8] = this.totalData[0].new_avg_ad_revenue
					sums[9] = this.totalData[0].avg_purchase
					sums[10] = this.totalData[0].new_avgInter
				    sums[11] = this.totalData[0].cus_total_roi2
					sums[12] = this.totalData[0].cus_total_roi1
					sums[13] = this.totalData[0].new_total_roi
					sums[14] = this.totalData[0].new_avgReward
					
				}
				return sums;
			},
		   load(tree, treeNode, resolve) {
			   this.param.attr = tree.attr
			   this.param.key = tree.key
			   this.param.level = tree.level
			   this.param.parent_key = tree.parent_key
			   this.param.child_key = tree.child_key
			   this.param.date =this.date
			   //this.param.child_attr = tree.child_attr
			   axios({
					method: 'post',
					url:'/admin_max/children_ltv_json_data',
					data:this.param
				}).then(res=>{
				 resolve(res.data)
			 })
			},
		   isExistArray(field,val){
		    return $.inArray(val, this.filter[field])>-1
		   },
		   addAttr(field,val){
		    if(val=='all')
			{
			  this.filter[field] =[]
			}else{
			   {if condition="$userid eq 19"}
			    this.filter[field] = [val]
			   {else /}
			     let index =  $.inArray(val, this.filter[field])
					if( index>-1 )
					{
					  this.filter[field].splice(index,1);
					}else{
					  this.filter[field].push(val)
					}
			   {/if}
			}
		   },
		  FilterMaterial(field,val){
		    this.filter[field] = val
		  },
		  predict(){
		    let _that = this
			   this.formInline.app_id = '{$app_id}'
			   this.retenloading = true
			   axios({
					method: 'post',
					url:'/admin_max/predict',
					data:this.formInline
				}).then(res=>{
				 this.retenloading = false
				 this.retenData = res.data.list
				 this.spend = res.data.spend
			 })
		  },
		   handleInstallDate(){

		   },
			getlist(){
			    this.tableData =[]
				const loading = this.$loading({
				  lock: true,
				  text: '数据加载中,请稍后',
				  spinner: 'el-icon-loading',
				  background: 'rgba(0, 0, 0, 0.7)'
				});
			   let _that = this
			   this.param.date =this.date
			   axios({
					method: 'post',
					url:'/admin_max/ltv_json_data',
					data:this.param
				}).then(res=>{
				 loading.close();
				 this.tableData = res.data.data
				 this.date = res.data.date
			 })
			}
        }
    })
  </script>

</html>