<!DOCTYPE html>
<html>
	<head>
		<title>Withdrawal success</title>
    	<meta name="author" content="www.vivachat.net">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">      
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Expires" content="-1">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Pragma" content="no-cache">
        <style>
		html,body {
            width: 100%;
           
            margin: 0;
            padding: 0;
        }		
		  .content_content{
		     margin-top:30%;
		     text-align:center;      		
		  }		  		 
		  img{
		    vertical-align:middle;
			width:100%;			
		  }
		 
		</style>
      	
	</head>
<body>
    <div class="content_content">
	  
	   <div class="img" >
	      <img  src="/static/images/ic_done_pic.png"/>
	   </div>
	   <div>We will process your application of withdraw within 3-5 business days.</div>
	</div>
	<script src="/static/js/jquery.js"></script>
	
	
</body>
</html>