<!DOCTYPE html><html lang=en>
<head><meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=viewport content="width=device-width,initial-scale=1">
<link rel=icon href=/chart/favicon.ico><title>数据模型</title>
{include file="./static/html/header_common.html" /}
<link href=/static/chart/css/app.b19e8594.css rel=preload as=style>
<link href=/static/chart/css/chunk-vendors.62d9640c.css rel=preload as=style>
<link href=/static/chart/js/app.ccaa953c.js rel=preload as=script>
<link href=/static/chart/js/chunk-vendors.55b14886.js rel=preload as=script>
<link href=/static/chart/css/chunk-vendors.62d9640c.css rel=stylesheet>
<link href=/static/chart/css/app.b19e8594.css rel=stylesheet>
<style>
body{background:#f2edf3;}
#app{margin-top:60px;clear:both;width:100%;}
.container{width:100%;}
</style>
</head>
<body>
<noscript><strong>We're sorry but vue-data-board doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
{include file="./static/html/header.html" /}
<div id=app></div>
<script src=/static/chart/js/chunk-vendors.55b14886.js></script><script src=/static/chart/js/app.ccaa953c.js></script>
</body></html>