<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GAME BRAIN</title>
    {include file="./static/html/header_common.html" /}   
    <style>
      #time,select,.fa{
	   cursor:pointer;
	 }
	 .content p{
	     line-height:3.1rem;
		 letter-spacing:1px;
		 font-size: 15px;
		 color: #333;
	 }
	 .content img{
	    max-width:640px;
	 }
	</style>	
</head>
<body>
    <div id="wrapper">
        {include file="./static/html/header.html" /}	
		<div class="hw_page_content">
		    <div class="hw_menu_left">
         {include file="./static/html/side.html" /}  
			</div>
			<div class="hw_content_right" style="padding:20px 3%">
            <div id="page-inner" style="background-color:#fff;"> 
	          
              <div class="row">
                
                <div class="col-md-12">
				     <header>
					   
						<div style="margin-left:5%;margin-top:10px;border-bottom:1px solid #ccc;">
						  <p>By 系统管理员&nbsp;&nbsp;&nbsp;<i style="color:#ccc;"> 2018-06-02</i><p>
						</div>
						 <h3 style="text-align:center;margin-top:25px;">如何设置广告成效数据发送到邮箱</h3>
					 </header>
					 <div class="content"style="margin-left:8%;margin-top:50px;margin-right:8%;">
					    <p >1,进入后台点击系统相关设置</p>
						<p><img src="/uploads/category/1.png" /></p>
						<p>2,选择个人信息栏，设置您要绑定的邮箱</p>
						<p><img src="/uploads/category/2.png" /></p>
						<p>3,选择其他设置，开启邮箱通知选项，并勾选你要发送的产品选项</p>
						<p><img src="/uploads/category/3.png" /></p>
						<p>4,邮件会在每天的早上八点半左右发送，暂时没有个性化时间设置发送</p>
					 </div>
                </div>
             </div>
			 
			  
           </div>
		  </div>	
     </div>
		 {include file="./static/html/footer.html" /}
	</div>	
</body>
 {include file="./static/html/footer_common.html" /}
</html>
