<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>广告应用管理--广告聚合平台</title> 
	{include file="./static/html/header_common.html" /}
    <style>
	li{
	  list-style: none;

	}
	li.alone{
	  padding-top:20px;	
	}
	 li .avatar {
    height: 50px;
    width: 50px;
    float: left;
    margin: 3px 15px 0px 10px;
    border: none;
    border-radius: 50%;
}
img {
    vertical-align: middle;
}
.date-picker {
    cursor: pointer;
	float:right;
	padding-right:20px;
	color: #999;
}
.look{
  background-color: #F09B22
}
.edit,.delete,.look,.dd,.sync{
   cursor: pointer;
}
form .row{
  margin-left:30px;
  margin-bottom:0px;
  margin-right:30px;
  margin-top:5px;
}
.row .col.s6 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.row input{
  margin:0 0;
  padding:0 0;
}
.dt:hover{
  color:#FF9966;
  
}
.form-control{
  text-indent:4px;
}
td{
  font-size:14px;
  color:#222;
}
	</style>	
</head>
<body>
    <div id="wrapper">
        {include file="./static/html/header.html" /} 
	
		<div class="hw_page_content">
		    <div class="hw_menu_left">
         {include file="./static/html/side.html" /}  
			</div>
		    <div class="hw_content_right">	
			  <ul class="search_tab clearfix" >
			      <li <?php if($type==1){ echo "class='active'"; } ?> ><a  href="/admin_advertisement/lists">广告应用</a></li>
                 <!--  <li <?php if($type==2){ echo "class='active'"; } ?>><a  href="/admin_advertisement/lists?type=2">广告参数配置</a></li> -->
                  <div style="float:right;position:relative;"><i style="position:absolute;top:22px;left:10px;color:#ccc;" class="fa fa-search"></i><input type="text" id="search_keyword" value="{$keyword}" style="width:200px;margin-right:20px;margin-top:12px;padding-left:25px;" class="form-control" placeholder="search app" /></div>			  
		       </ul>
			   <div class="table-responsive" id="app_list" style="padding:0 30px;">
						<table class="table table-hover">
							<thead>
								<tr>
									 <th style="vertical-align:middle; text-align:center;">ID</th>
									 <th style="vertical-align:middle; text-align:center;">应用名称</th>
									 <th style="vertical-align:middle; text-align:center;">包名</th>
									 <th style="vertical-align:middle; text-align:center;">说明</th>
									 <th style="vertical-align:middle; text-align:center;">接口URL</th>
									 <th style="vertical-align:middle; text-align:center;">修改人</th>
									 <th style="vertical-align:middle; text-align:center;">修改时间</th>
									 <th style="vertical-align:middle; text-align:center;">操作</th>
								</tr>
							</thead>
							<tbody>
								{volist name="list" id="item"}
								<tr class="dt" >
									<td class="dd" onclick="he_location({$item.id});" style="vertical-align:middle; text-align:center;">#{$item.id}</td>
								   
									 <td class="dd" onclick="he_location({$item.id});" style="vertical-align:middle; text-align:center;">
									 {$item.app_name}&nbsp;
									 {if condition="$item['platform'] eq 'android'" }
									 <i title="android" style="color:#f0ad4e;" class="fa fa-android"></i>
									 {elseif condition="$item['platform'] eq 'ios'" /}
									 <i  class="fa fa-apple"></i>
									 {/if}
									 </td>
									 <td class="dd" onclick="he_location({$item.id});" style="vertical-align:middle; text-align:center;">{$item.package_name}</td>
									 <td class="dd" onclick="he_location({$item.id});" style="vertical-align:middle; text-align:center;">{$item.remark}</td>
									 <td style="vertical-align:middle; text-align:center;"><i class="badge look" data="{$item.id|getapiurl}">查看</i></td>
									 <td class="dd" onclick="he_location({$item.id});" style="vertical-align:middle; text-align:center;">{$item.updateuser}</td>
									 <td class="dd" onclick="he_location({$item.id});" style="vertical-align:middle; text-align:center;font-style:italic;">{$item.updatetime|getadvertime}</td>
									 <td style="vertical-align:middle; text-align:center;"  >
									    {if condition="permission(1)" }
										<div class="btn-group">
										  <a  class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<i class="fa fa-ellipsis-v"></i>
										  </a>
										  <ul class="dropdown-menu">
											<li><a class="edit" data-id="{$item.id}" data-appname="{$item.app_name}" data-packagename="{$item.package_name}" data-remark="{$item.remark}">修改</a></li>
											
											<li><a data-id="{$item.id}" class="delete" >删除</a></li>
											<li><a data-id="{$item.id}" class="sync">同步</a></li>
										  </ul>
										</div>
										{else /}
										<i class="fa fa-ban" style="color:#ccc;" title="no permission"></i>
										{/if}
									</td>                                           
								</tr>
								{/volist}									
							</tbody>							
						</table>
                   	<div style="text-align:center;">{$list->render()}</div>					
                </div>
	        </div>
        </div> 
		 {include file="./static/html/footer.html" /}
    </div>   
   {include file="./static/html/footer_common.html" /}
    <script>
	   
	  $(function () {
	      
	       $(".dd").not(".edit").mouseenter( function(){
		      layer.tips('点击进入应用广告设置', '.dd', {
				  tips: [1, '#0FA6D8'] //还可配置颜色
				});
		   })
		   $(".dd").mouseleave( function(){
		      layer.closeAll();
		   })
		 
		   $("#search_keyword").bind('input propertychange', function()
		   {
			   var input_text = $(this).val();
                   
			     $.post("/admin_advertisement/lists",{keyword:input_text},function(e){
				  $("#app_list").html(e);
			   })								
		   });
		   $(document).on( 'click','.look',function(){
		      var url = $(this).attr("data");
			 
		      layer.alert('<a target="__blank" href="'+url+'" >'+url+'</a>', {
				  skin: 'layui-layer-molv' //样式类名
				  ,closeBtn: 0
				});
			   return false;
		   });
		    $(document).on( 'click','.sync',function(){
		      var id = $(this).attr("data-id");
			  var index = layer.load(1, {
								  shade: [0.1,'#fff'] //0.1透明度的白色背景
								});
		      $.post("/admin_advertisement/sync",{id:id},function(e){
					   layer.closeAll();
						 if("ok"==e)
						 {							
							layer.msg('同步成功');								
						 }else{
						    layer.msg('网络异常,同步失败', {icon: 1});
						 }
				   })
		      
			   return false;
		   });
		    $(document).on( 'click','.delete',function(event){
		        var id = $(this).attr("data-id");
				var _$ = $(this);
		        layer.confirm('确认删除后数据将不会保存?', {
					  btn: ['确认','取消'] //按钮
					}, function(){
					  var index = layer.load(1, {
								  shade: [0.1,'#fff'] //0.1透明度的白色背景
								});
					   $.post("/admin_advertisement/delete",{id:id},function(e){
					       layer.closeAll();
					         if("ok"==e)
							 {
							    _$.parents("tr").remove();
								layer.msg('删除成功');								
							 }else{
							   layer.msg('网络异常,删除失败', {icon: 1});
							 }
					   })
					 
					}, function(){
					  
					});
			 
			   return false;
		   });
		   
		});
        var he_location = function(id)
				{
				   window.location.href="/admin_advertisement/adlist?type={$type}&id="+id;
				}					
	   var  searchs = function(){
		  
			var reportType = $('#selectType').val();
            var url = '/admin_user/list';
			var input = $("#text").val();
            var params = '';
            if(reportType!=''){
            	params+='?'+reportType+'='+input;
            }
            window.location.href = url + params;  
    }
	
	$(document).on( 'click','.edit',function(event){
	    var _$ = $(this);
		var id = _$.attr("data-id");
		var app_name = _$.attr("data-appname");
		var package_name = _$.attr("data-packagename");
		var remark = _$.attr("data-remark");
	    var html='<form  style="text-align:center;">';
		    html+=' <div class="row"><p style="font-weight:bold;color:#333;">应用名称</p><div class="input-field col s6"><input  id="app_name" name="username" value="'+app_name+'" type="text" class="form-control validate"></div></div>';
			html+='<div class="row"><p style="font-weight:bold;color:#333;">包名</p><div class="input-field col s6"><input id="package_name" name="describe" type="text" value="'+package_name+'" class="form-control validate"></div></div>';
			html+='<div class="row"><p style="font-weight:bold;color:#333;">说明</p><div class="input-field col s6"><input name="describe" type="text" value="'+remark+'" id="remark" class="form-control validate"></div></div>';
			html+='<input class="waves-effect waves-light btn save" type="submit" style="background-color: #2ec376;margin-top:20px;width:140px;" value="修改"></input> </form>';
	   
		    //自定页
			layer.open({
			  type: 1,
			  skin: 'layui-layer-rim', //加上边框
			  area: ['450px', '370px'], //宽高
			  content: html
			});
			$(".save").click( function(){
			  
			       app_name = $("#app_name").val();
				   package_name = $("#package_name").val();
				   remark = $("#remark").val();
				    if( app_name=="" ||  package_name=="" )
				   {
				      layer.msg('应用名称,包名不能为空');
					  return false;
				   }
				   layer.load(0, {shade: false});
				   $(this).attr("disabled",true);
			   $.post("/admin_advertisement/edit",{id:id,app_name:app_name,package_name:package_name,remark:remark},function(e){
			       $(".save").attr("disabled",false);
			      if("ok"==e)
				     {					    
						
						window.location.reload();
						layer.closeAll();
					 }else{
					   layer.msg('修改失败');
					 }
			   })
			  
			   return false;
			})
	    event.stopPropagation();
	});	
	</script>
</body>
 
</html>
