<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GAME BRAIN</title>
    {include file="./static/html/header_common.html" /}
  <link href="/static/css/checkbox.css" rel="stylesheet" type="text/css">	
	 <link rel="stylesheet" type="text/css" media="all" href="/static/plugin/jquery-time/daterangepicker-bs3.css" />
     <link href="/static/css/dialog.css" rel="stylesheet" type="text/css" />
     <link href="/static/css/tooltips.css" rel="stylesheet">
     <link href="/static/css/product.css" rel="stylesheet">
    <link href="/static/css/adid.css" rel="stylesheet">
    <link href="/static/css/blue/style.css?t=<?php echo time(); ?>" rel="stylesheet">
	    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
   <script src="https://unpkg.com/vue/dist/vue.min.js"></script> 
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="/static/js/axios.min.js"></script>
	 <style>
	    th,td{text-align:center;vertical-align:middle}
	  .hw_reven thead tr {
    //background-color: #f9f9f9;
}
.hw_reven table {
    border-collapse: collapse;
    font-size: 12px !important;
    color: #222 !important;
    text-align: left !important;
    line-height: 40px;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
   background-color: #fff !important;
  
   border-bottom:0px solid #ebedf2 !important;
  border-top:1px solid #ebedf2 !important;
   color: #222 !important;
   padding:18px !important;
}
table.tablesorter{background-color:#fff;}
table.tablesorter tbody td {
  
    padding: 8px !important;
    background-color: #FFF;
    vertical-align: middle;
	 border-top:1px solid #ebedf2 !important;
}
.hw_reven .table > thead > tr > th{
  border-bottom:1px solid #ebedf2 !important;
  border-top:1px solid #ebedf2 !important;
   color: #222 !important;
}

.c-dropdown__item{
    border-bottom: none;
}
.cursor,#download,.country label,.fa-pencil-square-o{
cursor:pointer;
}

.btn-gradient-danger {
    background: linear-gradient(to right, #ffbf96, #fe7096);
    border: 0;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
	color: #ffffff;
}
.btn.btn-fw {
    min-width: 150px;	
}
.btn-fw:hover{
  color:#fff !important;
}
.btn-gradient-dark {
    background: linear-gradient(to right, #90caf9, #047edf 99%);
    border: 0;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
	color: #ffffff;
}
.hw_product-column li{float:left;margin-right:10px;margin-bottom:10px;}
</style>
</head>
<body style="background-color:#f1f3f8;">
    <div id="wrapper">
        {include file="./static/html/header.html" /}	
		<div class="hw_page_content">
		    
		    <div class="hw_menu_left">
         {include file="./static/html/side.html" /}  
			</div>
		    <div class="hw_content_right" id="right-content" style="margin-bottom:30px;width:100%;background-color:#f1f3f8;" >
			  
			      <div style="margin-top:10px;">
				   {if condition="getuserrole() eq 'super'" }
				     <a href="/admin_finance/channel" class="btn btn-gradient-danger btn-rounded btn-fw">渠道数据</a>
					{/if}
					 <a href="/admin_compet/contact" class="btn btn-gradient-dark btn-rounded btn-fw">合作联系</a>
					 
					 <a href="/finance/index" style="float:right;background-color:black;color:#fff;" class="btn  btn-rounded btn-fw">财务统计</a>
				  </div>
              <div style="font-size:13px;line-height:20px;margin-top:10px;color:#222;">
					 
			   </div>				  
			   <div style="padding:20px 0;clear:both;">
			      {if condition="$groupby eq 'product'"}
			        <div class="hw_product" style="display: flex;">
						
						<div class="hw_product-column" style="background-color: white;">
						   <div class="hw_product-primary"><span>{$total_active_users|number_format}</span></div>
						   <div class="hw_product-secondary">日活 <i style="color:#ccc">该指标为平均计算值</i></div>
						 </div>
						 <div class="hw_product-column" style="background-color: white;">
						   <div class="hw_product-primary"><span>{$total_new_users|number_format}</span></div>
						   <div class="hw_product-secondary">新增</div>
						 </div>
						 <div class="hw_product-column" style="background-color: white;">
						   <div class="hw_product-primary"><span>{$total_nature_num|number_format}</span></div>
						   <div class="hw_product-secondary">自然量</div>
						 </div>
					  </div>
					{/if}
					  <div class="hw_product" style="display: flex;margin-top:20px;">
					    {if condition="$groupby eq 'product'"}
						 <div class="hw_product-column" style="background-color: white;">
						   <div class="hw_product-primary"><span>{$total_purchase}</span></div>
						   <div class="hw_product-secondary">内购($) <i style="font-size:10px" data-mtpis="原始内购数据（已去掉苹果开发者分成,没有去掉内购cp分成）" class="fa fa-question-circle" aria-hidden="true"></i></div>
						 </div>
						{/if}
						<div class="hw_product-column" style="background-color: white;">
						   <div class="hw_product-primary" style="margin-bottom:10px;"><span>{$total_revenue}</span></div>
						   <div class="hw_product-secondary" style="text-align:center;padding-left:10%;">
						   <ul>							  
							  <li><div><strong style="margin-right:10px;font-size:12px;color:#333;">分成</strong><span style="color:#222e37;">${$cooperate_revenue}</span></div></li>
							  <li><div><strong style="margin-right:10px;font-size:12px;color:#333;">返点</strong><span style="color:#222e37;">${$rebate_revenue}</span> <i style="font-size:10px" data-mtpis="返点从2021年1月1号开始计算" class="fa fa-question-circle" aria-hidden="true"></i></div></li>
							  <li><div><strong style="margin-right:10px;font-size:12px;color:#333;">利润</strong><span style="color:#222e37;">${$m_revenue}</span>{if condition="$m_revenue<0"}<strong style="font-size:10px;color:red;">亏损</strong>{/if} <i style="font-size:10px" data-mtpis="利润=分成后的收益+返点+内购（已去掉CP分成和开发者分成）" class="fa fa-question-circle" aria-hidden="true"></i></div></li>
							</ul>
							</div>
							<div class="hw_product-secondary">当前总收益($)<i style="font-size:10px" data-mtpis="当前总收益含内购但不包含小米分成收益" class="fa fa-question-circle" aria-hidden="true"></i></div>
						 </div>
						 <div class="hw_product-column" style="background-color: white;">
						   <div class="hw_product-primary"><span>{$total_spend}</span></div>
						   <div class="hw_product-secondary">当前总花费($)</div>
						</div>
						 <div class="hw_product-column" style="background-color: white;">
						   <div class="hw_product-primary"><span>{$roi}%</span></div>
						   <div class="hw_product-secondary">ROI</div>
						 </div>					 
				    </div>
					
				</div>
				 {if condition="$groupby eq 'day'"}
			 		<div class="hw_chat" id="chats" style="height:400px;margin-top:15px;padding:0px 20px;"></div>
                 {/if}					
				  <div class="hw_reven" style="padding:10px;">
				            <ul class="search_tab clearfix" >
							   <li style="margin-left:0px;" {if condition="$groupby eq 'product'"} class="active" {/if} ><a  href="/admin_product/index?groupby=product&select={$select}&start={$start}&end={$end}">产品详情</a></li>
                               <li style="margin-left:10px;" {if condition="$groupby eq 'day'"} class="active" {/if}><a   href="/admin_product/index?groupby=day&select={$select}&start={$start}&end={$end}">按天汇总</a></li>
							   {if condition="$groupby eq 'product'"}
							   <li style="width:400px;">
							     <el-select size="small" @change="updateData" style="width:150px" v-model="groupid" placeholder="分组筛选">
								    <el-option label="全部" value="all"></el-option>								
									<el-option label="自研" value="ziyan"></el-option>
									<el-option label="发行" value="faxing"></el-option>
									{volist name="groupList" id="vo"}
									  <el-option label="{$vo.name}" value="{$vo.id}"></el-option>
									{/volist}
								 </el-select>
								 <el-button size="small" type="primary" @click="search">查询</el-button>
								   <el-popover
									  placement="top"
									  width="200"
									  v-model="visible">
									  <p><el-input v-model="name" size="small" placeholder="设置分组名称"></el-input></p>
									  <div style="text-align: right; margin: 0">
										<el-button size="mini" type="text" @click="visible = false">取消</el-button>
										<el-button type="primary" size="mini" @click="SaveGroup">保存</el-button>
									  </div>
									  <el-button size="small" slot="reference" @click="">保存分组</el-button>
									</el-popover>
								  
							   </li>
							   {/if}
                                <div  style="float:right;line-height: 29px;margin-top:15px">
								  <input  class="search-input" id="start_date" style="color:#222;border:1px solid #fff;" value="{$start} 到 {$end}">								
							    </div>						   
							 </ul>
				            <div style="padding:0px 10px;background:#fff;border-radius:10px;">
							 <table class="table table-hover tablesorter" >
							  {if condition="$groupby eq 'product'"}
							  <thead >								
								<tr>
								  <th>
								  
								  <div class="el-checkbox filled-in" style="float:left;margin-right:10px;margin-left:-10px;">
									   
									   <input type="checkbox" name="all" value="all" checked id="app_id_all">
									   <label class="el-checkbox-style" for="app_id_all"></label>
									   <span class="margin-r"></span>
								  </div>
								  
								  <div style="margin-left:10px;float:left;margin-left: 4px;">名称</div>
								  </th>
								  <th>活跃</th>
								  <th>新增/校验值</th>
								  <th>次留</th>
								  <th>自然占比</th>
								  <th>内购</th>
								  <th>ROI</th>
								  <th>花费</th>
								  <th>平均CPI</th>							  
								  <th>收益</th>							 
								  <th>ARPDAU</th>							  
								</tr>
							  </thead>
							 
							   <tbody >
								   
								   {volist name="list" id="vv"}
									<tr >
									  <td style="text-align:left;width:25%;">
									   
									   <div class="el-checkbox filled-in" style="float:left;margin-right:10px;">
									   
									   <input type="checkbox" name="app_id" <?php if( preg_match("/".$vv['result']['app_id']."/",$app_id) ){ echo "checked";} ?> value="{$vv.result.app_id}" id="app_id_{$vv.result.app_id}">
									   <label class="el-checkbox-style" for="app_id_{$vv.result.app_id}"></label>
									   <span class="margin-r"></span>
									 </div>
									
									  <div style="" > <img src="{$vv.icon_url}" style="width:25px;height:25px;float:left;vertical-align:middle;margin-right:4px;" />{$vv.name}</div></td>
									  <td>{$vv["result"]["active_users"]}</td>
									  <td>{$vv["result"]["new_users"]}/{$vv.result.adjust_new_users}</td>
									  <td>{$vv["result"]["reten"]}%</td>
									  <td>{$vv["result"]["nature_rat"]}%</td>
									   <td>${$vv["result"]["purchase"]}</td>
									  <td {if condition="$vv['result']['roi'] >= 100"}style="color:red;"{/if}>{$vv["result"]["roi"]}%</td>
									  <td>${$vv["result"]["spend"]}</td>
									  <td>${$vv["result"]["cpi"]}</td>
									  <td>${$vv["result"]["revenue"]}</td>							 
									  <td>${$vv["result"]["dauarpu"]}</td>							  
									</tr>
									{/volist}
									
								  </tbody>
								 
								{else /}
								  <thead >								
								<tr>
								  <th>日期</th>
								  <th>花费</th>
								  <th>收益</th>
								  <th>ROI</th>
								 					  
								</tr>
							  </thead>
							   <tbody >
								   {volist name="list" id="vv"}
									<tr >
									  <td><i style="color:#bcbcbc">({$vv.date|getweekday})</i>{$vv.date}</td>
									  <td>${$vv.spend}</td>
									  <td>${$vv.revenue}</td>
									  <td {if condition="$vv['roi'] >= 100"}style="color:red;"{/if}>{$vv.roi}%</td>
									</tr>
									{/volist}
								  </tbody>
                                {/if}								
						  </table>	
                       </div>						  
					 </div>
			   </div>			   
			
		</div>
		 
		 {include file="./static/html/footer.html" /}
	</div>
</body>
 {include file="./static/html/footer_common.html" /}
 
  <script type="text/javascript" src="/static/plugin/jquery-time/moment.js"></script>
  <script type="text/javascript" src="/static/plugin/jquery-time/daterangepicker.js"></script>
  <script src="/static/js/jquery.tablesorter.min.js"></script>
  <script src="/static/js/mTips.js?t=122"></script>
  {if condition="$groupby eq 'day'"}
   <script src="/static/js/echarts.min.js"></script>
   {/if}
  <script>
    let t = new Vue({
        el: '#right-content',
        data: {
		  groupid:'{$groupid}',
		  visible:false,
		  name:''
		},
		methods:{
		  updateData(){
		    locationa(this.groupid)	
		  },
		  SaveGroup(){
		     let name = this.name
			 if(name!="")
			 {
			   _SaveGroup(name)
			 }
		   },
		  search(){
			
			var a = getSelectapp(this.groupid)			
		  },
		 
		}
	})
	
	
  </script>
 <script>
 
     var start_date="{$start}";
	 var end_date = "{$end}";
	 var groupby ="{$groupby}";
	 var app_id="{$app_id}";
    $(function(){
	      if( groupby=="day" )
		   {
		      lineechatsday();
		   }else{
		     //lineechats();
		   }
        $.tablesorter.addParser({  
		 id: "num", //指定一个唯一的ID  
		 is: function(s){  
			 return false;  
			 },  
		 format: function(s){  
			 return s.substring(0,s.length-2);//去除后面的汉字
			 },  
		 type: "numeric"  
		 }); 	 
	 $(".table").tablesorter({headers:{0:{sorter:false},3:{sorter:"num"}}});
	 {if condition="$groupby eq 'product'"}
	   $(".table").trigger("sorton",[[[10,1]]]);
	 {/if}

		 $('#start_date').daterangepicker({ minDate:'2018-07-08',opens:'left',ranges: {'今天': [moment(),moment()],
'昨天': [moment().subtract(1, 'days'),moment().subtract(1, 'days')],
'近7天': [moment().subtract(7, 'days'), moment()],
'这个月': [moment().startOf('month'), moment().endOf('month')],
'上个月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
'LifeTime': ['2018-07-08',moment().subtract(1, 'days')]} },function(start, end, label) {	 
		      start_date = start.format('YYYY-MM-DD');end_date=end.format('YYYY-MM-DD');
			$('#start_date').val(start_date+" 到 "+end_date);
			var uurl ="/admin_product/index?groupby="+groupby+"&start="+start_date+"&end="+end_date+"&select={$select}&groupid="+t.groupid;
			if(app_id)
			{
			   uurl=uurl+"&app_id="+app_id;
			}
			window.location.href=uurl
		 });
        $("#select").click( function(){
		   var select="";
		   if( $(this).is(":checked") )
		     {
			   window.location.href="/admin_product/index?groupby="+groupby+"&start="+start_date+"&end="+end_date+"&select=all";
			 }else{
			   window.location.href="/admin_product/index?groupby="+groupby+"&start="+start_date+"&end="+end_date;
			 }			
		})
	   });
	   
	function getSelectapp(groupid){
	 
	  var t =[];
	  $("[name='app_id']:checked").each(function(){
			t.push($(this).val())				
	  })
	  window.location.href="/admin_product/index?groupby="+groupby+"&start="+start_date+"&end="+end_date+"&app_id="+t+"&groupid="+groupid;
	}
	
	function _SaveGroup(name){
	   
	   var t =[];
	  $("[name='app_id']:checked").each(function(){
			t.push($(this).val())				
	  })
	  $.post("/app/create_group",{name:name,app_ids:t},function(e){
	       	 layer.msg('保存成功');
			 locationa(e) 
		});
	}
	
	function locationa(groupid)
	{
	  window.location.href="/admin_product/index?groupby="+groupby+"&start="+start_date+"&end="+end_date+"&groupid="+groupid;
	}
	   
	function showtips(title,obj)
	{
	  var self = $(obj);
		$.pt({
			target: self,
			content: title
		});
	}
	$("input[name='app_id']").prop("checked",true);
	$("#app_id_all").on('click',function() {  
      $("input[name='app_id']").prop("checked", this.checked);
	});  
     
	 $("input[name='app_id']").on('click',function() {  
        
		var selectnum = $("input:checkbox[name=app_id]:checked").length
		var num = $("input:checkbox[name=app_id]").length
		if(selectnum==num)
		{
		  $("#app_id_all").prop("checked",true);
		}else{
		 $("#app_id_all").prop("checked",false);
		}
	});


   function lineechatsday()
  {
	  var myChart = echarts.init(document.getElementById("chats"));
	 var option = {
    backgroundColor: '#fff',
	title : {
			text: 'ROI趋势图',
			x:'center',
			top:'30',
			textStyle: {
				color: "#222",
			}
		},
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            lineStyle: {
                color: '#57617B'
            }
        }
    },
    grid: {
        left: '10%',
        right: '10%',
        bottom: '30%',
        top: '20%',
        containLabel: true
    },
    xAxis: [
        {
        type: 'category',
        boundaryGap: false,
        axisLine: {
            lineStyle: {
                color: '#0E2A43'
            }
        },
        axisLabel: {
            margin: 10,
            textStyle: {
                fontSize: 14,
                color: '#D5CBE8'
            }
        },
        axisTick: {
            show: false
        },
        data: [{$chats_str.date}]
    }, {
        axisPointer: {
            show: false
        },
        axisLine: {
            lineStyle: {
                color: '#0E2A43'
            }
        },
        axisTick: {
            show: false
        },
        position: 'bottom',
        offset: 20
    }],
    yAxis: [{
        type: 'value',
        name: '单位（%）',
        axisTick: {
            show: false
        },
        axisLine: {
            lineStyle: {
                color: '#0E2A43'
            }
        },
        axisLabel: {
            margin: 10,
            textStyle: {
                fontSize: 14,
                color: '#D5CBE8'
            }
        },
        splitLine: {
            show: false,
            lineStyle: {
                color: '#57617B'
            }
        }
    }],
    series: [{
        name: 'ROI',
        type: 'line',
        smooth: true,
        stack: '总量',
        symbol: 'circle',
        symbolSize: 5,
        showSymbol: false,
        animationDelay: 2000,
        animationDuration: 1000,
        markPoint: {
            // symbol: 'image://url',
            data: [
                {type: 'max', name: '最大值'}
            ],
            animationDelay: 3000,
            animationDuration: 1000
        },
        lineStyle: {
            normal: {
                width: 1,
                color: {
                    type: 'linear',
                    x: 0,
                    y: 0,
                    x2: 1,
                    y2: 0,
                    colorStops: [{
                        offset: 0, color: 'red' // 0% 处的颜色
                    }, {
                        offset: 1, color: 'grey' // 100% 处的颜色
                    }],
                    globalCoord: false // 缺省为 false
                },
                opacity: 0.9
            }
        },
        areaStyle: {
            normal: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                    offset: 0,
                    color: 'rgba(137, 189, 27, 0.3)'
                }, {
                    offset: 0.8,
                    color: 'rgba(137, 189, 27, 0)'
                }], false),
                shadowColor: 'rgba(0, 0, 0, 0.1)',
                shadowBlur: 10
            }
        },
        itemStyle: {
            normal: {
                color: 'rgb(137,189,27)',
                borderColor: 'rgba(137,189,2,0.27)',
                borderWidth: 12

            }
        },
        data: [{$chats_str.roi}]
    }]
};
	  myChart.setOption(option); 
  }   
 </script>

</html>