<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<link rel="shortcut icon" href="favicon.ico?t=33">
<link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.bootcss.com/mdui/0.4.2/css/mdui.min.css">
<link rel="stylesheet" href="/static/index/css/common.css">
<link rel="stylesheet" href="/static/index/css/app.css?t=<?php echo time() ?>">
<div id='wx_pic' style='margin:0 auto;display:none;'>
<img src='http://console.gamebrain.io/static/index/share.jpg' />
</div>