<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
	<link rel="stylesheet" type="text/css" media="all" href="/static/css/public.css" />
	<link href="/static/css/special.css" rel="stylesheet">
	{include file="./static/html/header_common.html" /}
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" media="all" href="/static/plugin/daterangepicker/daterangepicker.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/static/css/select.css" />
    <style>
    #time,select,.fa,#datetime{
	   cursor:pointer;
	 }
	</style>	
</head>
<body>
    <div id="wrapper">
        {include file="./static/html/header.html" /} 
		
	   <!--/. NAV TOP  -->
         {include file="./static/html/side.html" /} 
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
		  <div class="header"> 
			<h1 class="page-header">
				广告变现管理
			</h1>
			<ol class="breadcrumb">
			  <li><a href="#">主页</a></li>
			  <li><a href="#">变现管理</a></li>
			 <li class="active" style="color:red;"> Mobvista</li>
			</ol> 									
		</div>
            <div id="page-inner"> 
			     <div class="row">
                <div class="col-md-12">
				  
                     <!--    Hover Rows  -->
                    <div class="card">
					  
                        <div class="card-action">
						 <div>
						  <div class="app-right-content">
							  <div class="ant-card-head-title">
								<ul class="message-tabs">
								 <li><a  href="/admin_adcash/moblist?spm=last">汇总统计</a></li>
								 <li><a  href="/admin_adcash/moblist?spm=day">每天汇总</a></li>
								 <li><a class="active"  href="/admin_adcash/moblist">详情列表</a></li>
								</ul>
								<div id="search" onclick="search();" style="float:right;margin-right:20px;color:#ccc;cursor:pointer;margin-left:40px;">搜索</div>		                              	
								
								<div class="select_zyd" style="float:right;width:100px;margin-left:20px;">
								<p>
								<select class="form-control" id="country" style="font-weight: normal;">
								  <option value="all">国家</option>
								  {volist name="country" id="vc"}
								  <option {if condition="$code eq $vc['code']" }selected{/if} value="{$vc.code}">{$vc.code}</option>
								  {/volist}
								</select>
								</p>
								</div>
                               	
                                <div class="select_zyd"  style="float:right;font-weight: normal;">
								<p>
								<select class="form-control" id="app_name">
								  <option value="all">应用名称</option>
								  {volist name="app" id="va"} 
								  <option {if condition="$app_name eq $va['app_id']" }selected{/if} value="{$va.app_id}">{$va.app_name}</option>
								   {/volist}
								</select>
								</p>
								</div>							
							  </div> 
							 <div class="overview-container">
								<ul class="overview-number">
								   <li>
                                   <div class="pgc-dashboard-column"><div class="pgc-dashboard-title">总收益&nbsp;&nbsp;<i id="remark" class="fa fa-question-circle-o"></i></div>
									   <div class="pgc-dashboard-primary">{$sum_data.sum_revenue??0}</div>
									   <div class="pgc-dashboard-secondary">
										   <span class="pgc-income-dash-secondary"><span class="pgc-income-fans">eCPM：<?php if(isset( $sum_data["sum_impression"]) && $sum_data["sum_impression"]>0 ){ echo round( $sum_data["sum_revenue"]*1000/$sum_data["sum_impression"],2); }else{ echo "0.00";} ?></span></span>
									   </div>
								   </div>								  
								  </li>
								  <li>
								   <div class="pgc-dashboard-column"><div class="pgc-dashboard-title">总点击&nbsp;&nbsp;</div>
									   <div class="pgc-dashboard-primary">{$sum_data.sum_click??0}</div>
									   <div class="pgc-dashboard-secondary">
										   <span class="pgc-income-dash-secondary"><span class="pgc-income-fans">总展示：{$sum_data.sum_impression??0}</span></span>
									   </div>
								   </div>
								  </li>	
								</ul>  
							</div>							
						</div>						
						 </div>
                       <div style="margin-top:30px;margin-left:40px;">	 
                       <div style="float:left;margin-right:40px;"><a style="{if condition="$t eq 'new'"} color:#222;{else /}color:#999;{/if}font-weight: normal;" href="/admin_adcash/moblist?t=new">最近一周</a></div>
                       <div style="float:left;margin-right:40px;"><a style="{if condition="$t eq 'week'"} color:#222;{else /}color:#999;{/if}font-weight: normal;" href="/admin_adcash/moblist?t=week">最近15天</a></div>
					   <div style="float:left;"><a style="{if condition="$t eq 'month'"} color:#222;{else /}color:#999;{/if}font-weight: normal;" href="/admin_adcash/moblist?t=month">最近30天</a></div>
					   <div style="float:left;margin-left:20px;"><p><input id="datetime" style="margin:-10px;box-sizing: inherit;float:left;width:200px;color:#ccc;font-size: 12px;margin-left:8px;color: #009a61;" placeholder="搜索日期" value="" type="text" /> </p></div>												
					   <div style="float:right;"><a style="color:#999;font-weight: normal;" href="/admin_adcash/mobline">绘制图表</a></div>
					   </div>
					  		   
                        </div>
						<div>					
				     </div>
                        <div class="card-content" style="padding: 25px 20px 50px 20px;clear:both;">
                            <div class="table-responsive table-bordered">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                             <th style="vertical-align:middle; text-align:center;">序号</th>
                                             <th style="vertical-align:middle; text-align:center;">应用名称</th>
                                             <th style="vertical-align:middle; text-align:center;">填充</th>
											  <th style="vertical-align:middle; text-align:center;">请求</th>
											   <th style="vertical-align:middle; text-align:center;">展示</th>
											   <th style="vertical-align:middle; text-align:center;">点击</th>
											 <th style="vertical-align:middle; text-align:center;">收入</th>
                                             <th style="vertical-align:middle; text-align:center;">填充率</th>
											 <th style="vertical-align:middle; text-align:center;">CTR</th>
											 <th style="vertical-align:middle; text-align:center;">eCPC</th>
											 <th style="vertical-align:middle; text-align:center;">eCPM</th>
											
											 <th style="vertical-align:middle; text-align:center;">国家</th>
											 <th style="vertical-align:middle; text-align:center;">日期</th>
                                        </tr>
                                    </thead>
                                    <tbody>
									    {volist name="list" id="item"}
                                        <tr>
                                            <td class="dd" style="vertical-align:middle; text-align:center;"><?php $p=isset($_GET["page"])?$_GET["page"]:1; echo ($p-1)*20+$key+1; ?></td>
                                           
                                             <td class="dd" style="vertical-align:middle; text-align:center;">{$item.app_id|getappname}</td>
                                             <td class="dd" style="vertical-align:middle; text-align:center;">{$item.filled}</td>
											 <td class="dd" style="vertical-align:middle; text-align:center;">{$item.request}</td>
                                             <td style="vertical-align:middle; text-align:center;">{$item.impression}</td>
											  <td style="vertical-align:middle; text-align:center;">{$item.click}</td>
											 <td style="vertical-align:middle; text-align:center;">{$item.revenue}</td>
											 <td style="vertical-align:middle; text-align:center;">{$item.fill_rate}</td>
											 
											 <td style="vertical-align:middle; text-align:center;">{$item.ctr}</td>
											 <td style="vertical-align:middle; text-align:center;">{$item.ecpc}</td>
											 <td style="vertical-align:middle; text-align:center;">{$item.ecpm}</td>

											 <td style="vertical-align:middle; text-align:center;">{$item.country}</td>
											 <td style="vertical-align:middle; text-align:center;">{$item.date}</td>                                          
                                        </tr>
                                        {/volist}
                                    </tbody>
                                </table>
                               								
                            </div>
							 <div style="text-align:center;">{$list->render()}</div>							
                        </div>
                    </div>
                    <!-- End  Hover Rows  -->
                </div>
                <input id="start" value="{$out_time.s_time}" type="hidden" />
				<input id="end" value="{$out_time.e_time}" type="hidden" />
            </div>		
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
 {include file="./static/html/footer.html" /} 
 {include file="./static/html/footer_common.html" /}
  <!-- Morris Chart Js -->
    <script src="/static/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/static/assets/js/morris/morris.js"></script>
    <script type="text/javascript" src="/static/plugin/daterangepicker/moment.js"></script>
    <script type="text/javascript" src="/static/plugin/daterangepicker/daterangepicker.js"></script>	
</body>
<script>
    hover_content("当前显示日期总收益, 系统默认为平台最新获取数据时间","#remark");
	
	var search = function()
	{
	    var country = $("#country").val();
		var t='{$t}';
		var app_name = $("#app_name").val();
		var start = $("#start").val();
		var end = $("#end").val();
		window.location.href="/admin_adcash/moblist?t="+t+"&country="+country+"&app_name="+app_name+"&start="+start+"&end="+end;
	}
</script>
 <script>
    $('#datetime').daterangepicker({
	 "dateLimit": {
        "days": 7
    },
    "startDate": "{$out_time.s_time}",
    "endDate": "{$out_time.e_time}"
	}, function(start, end, label) {
	    $("#start").val( start.format('YYYY-MM-DD') );
		$("#end").val( end.format('YYYY-MM-DD') );
	});
 </script>
</html>
