<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GAME BRAIN</title>
    {include file="./static/html/header_common.html" /}
	<link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">
		<link rel="stylesheet" type="text/css" href="/static/css/goalset.css">

    <script type="text/javascript" src="/static/js/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/iview.min.js"></script>
	<script src="/static/js/axios.min.js"></script>
	<link href="/static/css/froala_editor.min.css" rel="stylesheet" type="text/css">	
	<style>
	 body,.hw_content_right{font-size:14px;}
	 .demo-drawer-footer{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 1px solid #e8e8e8;
        padding: 10px 16px;
        text-align: right;
        background: #fff;
    }
	.table input{text-align:center;}
	#capture input{border:none;width:100%;background-color:#fff;}
	#capture th,#capture input{font-weight:400;color:#222;}
	.ivu-drawer-body{padding:2px 16px !important;}
	.mainCoontent img{width:100%;}
	</style>
</head>
<body>
    <div id="wrapper" style="background-color:#fff;">
        {include file="./static/html/header.html" /}	
		<div class="hw_page_content">
		    <div class="hw_menu_left">
         {include file="./static/html/side.html" /}  
			</div>
		    <div class="hw_content_right"  style="position:relative;">
			    <div style="padding:10px 0px;">
				<Breadcrumb separator=">">
			      <breadcrumb-item to="/admin_index/main">主页</breadcrumb-item>
			      <breadcrumb-item to="/testplan/index">发行测试</breadcrumb-item>
			      <breadcrumb-item>{$list[0]["name"]}</breadcrumb-item>
		        </Breadcrumb>
				</div>
			     {volist name="list" id="vo"}
				  <div class="box" style="margin-top:10px;">
						<div class="box-header with-border">
						  <span class="box-title"><img style="width:40px;height:40px;border-radius:10px;margin-right:5px;" src="{$vo.icon_url}" />{$vo.name}测试计划</span>
						</div>
						<div class="box-body">
							<div class="table-responsive">
							  <table class="table">
								<tbody>
								    
									<tr class="tr_header">									 
									  <th style="text-align:left;">计划名称</th>
									  <th>测试时间</th>								
									  <th>负责人</th>
									  <th>测试状态</th>
									  <th>地区</th>
									  <th>渠道</th>
									  <th>预算</th>
									  								 
									</tr>
									{volist name="vo.list" id="vv"}
									<tr>
									 
									  <td style="text-align:left;">{$vv.title}</td>
									  <td>{$vv.start_date}~{$vv.end_date}</td>						
									  <td>{$vv.username}</td>
									   <td>
									   {if condition="$vv['status'] eq 1"}
										 <span class="badge bg-success" style="background-color:#2d8cf0 !important;">测试中</span>
										{elseif condition="$vv['status'] eq 3" /}
										  <span class="badge bg-danger" style="background-color:#ed4014 !important;">测试结束</span>
                                        {elseif condition="$vv['status'] eq 2" /}
                                         <span class="badge bg-info" style="background-color:#19be6b !important;">待测试</span>
										 {else /}
                                        {/if}
									   </td>
									   <td>{$vv.country}</td>
									   <td>{$vv.channel}</td>
									   <td>{$vv.budget}</td>
									   
									</tr>
									{/volist}
								  </tbody>
								</table>
							</div>
						</div>
				  </div>
				  {/volist}
				  <h5 style="color:#866ec7;margin-top:-10px;">【测试目的】<span style="color:#02576c;font-size:12px;">{$list[0]['list'][0]['intent']}</span></h5>
				  
				   <div style="float:right;">
				   {if condition="$list[0]['list'][0]['status'] eq 3"}
				     <i-button  @click="edit">编辑</i-button>
				   {else /}	 
					 <i-button type="info" @click="save">发布</i-button>
				   {/if} 
				 </div>
				 <div id="capture" style="padding:10px;margin:0 auto;margin-bottom:40px;">
					
					 <div class="mainCoontent" style="padding:10px;">
					     {if condition="$list[0]['list'][0]['status'] eq 3"}
						   {$list[0]['list'][0]['summary']}
						 {/if}					  				 
					 </div>			
				</div> 
				
			</div>			
		</div>
		
		
		
		<Modal v-model="modal1" fullscreen  width="600px;" title="报告内容填写">			
			<FormItem label="Text">			  
			  <div id="edit">{if condition="$list[0]['list'][0]['status'] eq 3"}{$list[0]['list'][0]['summary']}{/if}</div>
			</FormItem>
			<FormItem label="Text" v-show="editShow">			  
			  <h5 style="padding:5px 15px 5px 5px;font-weight:700">选择抄送人</h5>
				<i-select v-model="manager" multiple >
					<i-option v-for="item in users" :value="item.value" :key="item.value">{{ item.label }}</i-option>
				</i-select>
			</FormItem>
			<div slot="footer">
				<i-button type="text" size="large" @click="modal1=false">取消</i-button> 
				<i-button type="primary" size="large" @click="addPost">确定</i-button> 
			</div>		
       </Modal>
		
	</div>	
</body>
 {include file="./static/html/footer_common.html" /}

 <script src="/static/js/froala_editor.min.js"></script>
  <!--[if lt IE 9]>
    <script src="/static/js/froala_editor_ie8.min.js"></script>
  <![endif]-->
    <script src="/static/plugin/froala/tables.min.js"></script>
	  <script src="/static/js/mTips.js"></script>
  <script src="/static/plugin/froala/lists.min.js"></script>
  <script src="/static/plugin/froala/colors.min.js"></script>
  <script src="/static/plugin/froala/media_manager.min.js"></script>
  <script src="/static/plugin/froala/font_family.min.js"></script>
  <script src="/static/plugin/froala/font_size.min.js"></script>
  <script src="/static/plugin/froala/block_styles.min.js"></script>
  <script src="/static/plugin/froala/video.min.js"></script>
 <script>
     $(function(){
	 $('#edit').editable({	
		  inlineMode: false,		
		  width:'100%',
		  height: '300px' //高度		  
		  })	   
	 })
 </script>
  <script>
     new Vue({
        el: '#wrapper',
        data: {
            modal1: false,
			modal2: false,
			switch1:'open',
			isedit:1,
			editShow:false,
			manager:"",
			finish_status:3,
			id:"{$id}",
			summary:"",
			users: []
        },
		mounted(){		 
		  this. getdata()	  
		},
        methods: {
            
		   edit(){
		    this.editShow  =false
			this.isedit =2
			 this.modal1 = true
		   },
		   save(){
		    this.editShow  =true
			this.isedit =1
			 this.modal1 = true
		   },
		   getdata()
		   {
		     let _that = this
			 axios.get('/goalset/getData')
			  .then(function (response) {
				 _that.users = response.data.users
			  })
			  .catch(function (error) {
				console.log(error);
			  });
		   },
			addPost(){
			  
			   var content = $('div.froala-element').html();
			   this.$Spin.show();
			   axios({
						method: 'post',
						url:'/testplan/postReport',
						data:{id:this.id,manager:this.manager,isedit:this.isedit,finish_status:this.finish_status,summary:this.summary,content:content}
					}).then(res=>{
					  this.$Spin.hide();
					  if( res.data=="ok" )
					  {
						  this.modal1 = false
						  this.$Message.success('操作成功');
						  window.location.href = window.location.href
					  }else{
					      this.$Message.warning('操作失败');
					  }					  
				 })
			},
			
			change (status) {
                this.selectPerson = status
            }
        }
    })
  </script>
</html>