<!DOCTYPE html><html lang=en>
<head><meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=viewport content="width=device-width,initial-scale=1">
<title>GameBrain</title>
{include file="./static/html/header_common.html" /}
<link href=/static/chart/css/app.217c6db8.css rel=preload as=style>
<link href=/static/chart/css/chunk-vendors.24c39596.css rel=preload as=style>
<link href=/static/chart/js/app.e354eb61.js rel=preload as=script>
<link href=/static/chart/js/chunk-vendors.75a04cda.js rel=preload as=script>
<link href=/static/chart/css/chunk-vendors.24c39596.css rel=stylesheet>
<link href=/static/chart/css/app.217c6db8.css rel=stylesheet></head>
<style>
body{background:#f2edf3;}
#app{margin-top:60px;clear:both;width:100%;}
.container{width:100%;padding:0px;}
.welcome-container{
position: absolute;
top: 100px;
left: 50%;}
.help-center{display:none}
</style>
<body>
{include file="./static/html/header.html" /}
<div id=app></div>
<script src=/static/chart/js/chunk-vendors.75a04cda.js></script>
<script src=/static/chart/js/app.e354eb61.js></script></body></html>